@use '../abstracts/abstracts' as abs;




.arrow {
    display: block;
    position: relative;
    margin: 15px;
    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      background: transparent;
      transform: rotate(45deg);
      border-width: 2px;
      @include abs.desktop {
        border-width: 3px;
        width: 24px;
        height: 24px;
      }
    }
    &.animate-on-scroll {
      transition: abs.$animation-transition;
      opacity: 0;
    }
    &.animated {
      opacity: 1;
    }
    &.arrow-light {
      background-color: abs.$base-color;
      &::after {
        border-color: abs.$base-color;
      }
    }
    &.arrow-dark {
      background-color: abs.$second-dark-color;
      &::after {
        border-color: abs.$second-dark-color;
      }
    }
}

.arrow-down,
.arrow-up {
    width: 2px;
    height: 80px;
    &:after {
      transform-origin: top;
      left: -2px;
    }
    &.animated {
      transform: translateY(0);
    }
    @include abs.desktop {
        width: 3px;
        height: 140px; 
        &:after {
          left: -2.5px
        } 
    }
}
.arrow-left,
.arrow-right {
    width: 80px;
    height: 2px;
    &:after {
      transform-origin: right;
      top: -2px;
    }
    &.animated {
      transform: translateX(0);
    }
    @include abs.desktop {
        width: 140px;
        height: 3px;
        &:after {
          top: -2.5px;
        }
    }
}



@mixin arrow($dir) {
  @if $dir == right {
    transform: translateX(-30px);

    &::after {
      right: 5px;
      border-top: 2px solid;
      border-right: 2px solid;
      @include abs.desktop {
        border-top: 3px solid;
        border-right: 3px solid;
      }
    }
  } @else if $dir == left {
    transform: translateX(30px);
    &::after {
      left: 0;
      border-bottom: 2px solid;
      border-left: 2px solid;
      @include abs.desktop {
        border-bottom: 3px solid;
        border-left: 3px solid;
      }
    }
  } @else if $dir == down {
    transform: translateY(-30px);
    &::after {
      border-right: 2px solid;
      border-bottom: 2px solid;
      bottom: 0;
      @include abs.desktop {
        border-right: 3px solid;
        border-bottom: 3px solid;
      }
    }
    
  } @else if $dir == up {
    transform: translateY(30px);
    &::after {
      border-top: 2px solid;
      border-left: 2px solid;
      top: 5px;
      @include abs.desktop {
        border-top: 3px solid;
        border-left: 3px solid;
      }
    }
    
  }
}

.arrow-right { @include arrow(right); }
.arrow-left { @include arrow(left); }
.arrow-down { @include arrow(down); }
.arrow-up { @include arrow(up); }

.arrow-white {
  border-color: abs.$base-color;
}
