@use '../abstracts/abstracts' as abs;

.shadow-image {
    position: relative;
    height: 500px;
    width: 100%;
    max-width: 350px;
    z-index: 1;
    transition: abs.$animation-transition;
    opacity: 0;
    transform: translateY(20px);
    margin-bottom: 40px;
    @include abs.desktop {
      max-width: 450px;
      height: 600px;
    }
    &-wrap {
        position: relative;
        overflow: hidden;
        height: inherit;
        margin: 0 auto;
        img {
            position: absolute;
            width: auto;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
          }
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &:before {
        top: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(rgba(213, 171, 2, 0.2), rgba(187, 42, 43, 0.2));
    }
    &:after {
        z-index: -1;
        background: linear-gradient(rgba(213, 171, 2, 0.5), rgba(187, 42, 43, 0.5));
        bottom: 0;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        transform: scale(0.95);
    } 
    &.animated {
        opacity: 1;
        transform: translateY(0); 
    }                  
    &.right {
        &.animated {
            &:after {
                transform: scale(1) translate(25px, 25px);
            }
        }
        
    }
    &.left {
        &.animated {
           &:after {
            transform: scale(1) translate(-25px, 25px);
            }
        }
    }
    
  }