@use '../abstracts/abstracts' as abs;

.menu {
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin-right: 20px;
    &-desktop {
        display: none;
       @include  abs.tablet {
            display: block;
        }
    }
    &-item {
        padding: 0 10px;
        white-space: nowrap;
        position: relative;
        @include  abs.desktop-xl {
                padding: 0 15px;
            }
        &:hover > .menu-item__name,
        &:focus > .menu-item__name {
            color: abs.$accent-color;
            &:after {
                transform: scale(1);
            }
        }
        &:hover > .submenu,
        &:focus > .submenu  {
            display: block;
        }
        &__name {
            display: block;
            position: relative;
            font-family: abs.$AlumniSans-Medium;
            color: abs.$base-color;
            font-size: abs.$h5-size-mobile;
            transition: ease-in 0.3s;
            padding: 5px 0;
            cursor: pointer;
            line-height: 1em;
            @include  abs.tablet {
                line-height: 1.3em;
            }
           @include  abs.desktop {
                font-size: abs.$h5-size-desktop;
            }
           @include  abs.desktop-xl {
                font-size: abs.$h5-size-xxl-desktop;
            }
            &:after {
                content: ' ';
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 100%;
                height: 2px;
                background: abs.$accent-color;
                transform: scale(0);
                opacity: 1;
                transform-origin: left;
                transition: opacity 0.4s, transform 0.4s;
            }
            
        }
        
    }

}

.submenu {
    display: none;
    position: absolute;
    width: 300px;
    height: auto;
    border-right: 2px solid abs.$accent-color;
    z-index: 1;
    right: -7px;
    background-color: abs.$dark-color;
    &-item {
        padding: 0 10px 5px;
        text-align: right; 
        &:last-child {
            .menu-item__name {
                border: none;
            }
            
        }
        .menu-item__name { 
            white-space: wrap;
            border-bottom: 2px solid abs.$accent-color;
        }
        &:hover > .menu-item__name,
        &:focus > .menu-item__name {
            color: abs.$accent-color;
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    width: 250px;
    background-color: abs.$dark-color;
    padding: 20px;
    z-index: 1000;
    transition: left 0.5s ease-in-out;
    box-sizing: border-box;
    .menu {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-right: 0;
        &-item {
            padding-top: 5px;
            padding-bottom: 5px;
            .menu-item__name {
                display: inline-block;
                &:after {
                    bottom: 0;
                }
            }
        }
    }
    &.open {
        left: 0;
    }
    &-container {
        display: flex;
        justify-content: flex-end;
       @include abs.tablet {
            display: none;
        }
    }
    &-toggle {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 26px;
        height: 21px;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        z-index: 5;
        .line {
            width: 100%;
            height: 2px;
            background-color: abs.$accent-color;
            transition: transform 0.3s ease;
        }
        &.open {
            .line:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            .line:nth-child(2) {
                opacity: 0;
            }
            .line:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }
    }
    .submenu {
        position: static;
        width: 100%;
        border-right: 0;
        border-left: 2px solid abs.$accent-color;
        margin-top: 10px;
        &-item {
            text-align: left;
        }
    }
}

.sticky-menu {
    height: inherit;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    @include abs.tablet {
        flex-direction: column;
        margin-top: 50px;
    }
    @include abs.desktop-sm{
        margin-top: 70px;
    }
    @include abs.desktop-xxl {
        margin-top: 100px;
    }
    &-wrap {
        position: fixed;
        z-index: 100;
        @include abs.only-mobile {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 50px;
        }
        @include abs.tablet {
            right: 0;
            top: 0;
            width: 40px;
            height: 400px;
        }
        @include abs.desktop-xxl {
            width: 50px;
            height: 50vh;
        }
    }
    &__item {
        height: 50px;
        flex: 1;
        @include abs.tablet {
            height: 40px;
        }
        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
                width: 20px;
                height: 100%;
                fill: abs.$base-color;
                @include abs.desktop-xxl {
                    width: 25px;
                }
            }
        }
        &.icon-phone {
           background-color: abs.$second-accent-color; 
        }
        &.icon-mail {
            background-color: abs.$dark-color;
        }
        &.icon-location {
            background-color: abs.$accent-color;
        }
        &.icon-whatsapp {
            background-color: #1D6026;
        }
        &.icon-telegram {
            background-color: #246182;
        }
        &.icon-viber {
            background-color: #4E2C79;
        }
    }
}

