@use '../abstracts/abstracts' as abs;

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: abs.$shadow-white-text;
    &-content {
        background: abs.$base-color;
        width: 100vw;
        height: 90vh;
        margin: 5vh auto;
        padding: 40px 20px 20px;
        position: relative;
        @include abs.tablet {
            width: 80vw;
        }
        @include abs.desktop {
            width: 60vw;
        }
    }
    &-body {
        display: none;
        padding: 20px;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            @include abs.tablet {
                width: auto;
                height: 100%;
            }
        }
    }
    .close {
        position: absolute;
        top: -15px;
        right: 20px;
        font-size: 50px;
        color: abs.$second-dark-color;
        cursor: pointer;
    }
    iframe {
        width: 100%;
        height: 100%;
        border: none;
        display: none;
    }

}

.open-modal {
    cursor: pointer;
}