@use '../abstracts/abstracts' as abs;

.home-slider {
    background-color: abs.$light-color;
    padding: 15px 0 60px;
    @include abs.desktop {
        padding-top: 20px;
    }
    .splide {
        margin: 0 15px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        @include abs.tablet {
            width: 90%;
            flex-direction: row-reverse;
        }
        @include abs.desktop {
            margin: 0 20px;
        }
        &__track {
            height: 250px;
            width: 100%;
            @include abs.desktop-sm {
                height: 320px;
            }
            @include abs.desktop-xxl {
                height: 500px;
            }
        }
        &__arrows {
            width: auto;
            display: flex;
            @include abs.only-mobile {
                margin-top: 20px;
            }
            @include abs.tablet {
                margin-left: 20px;
            }
            @include abs.desktop {
                margin-left: 40px;
            }
        }
        &__arrow {
            padding: 0;
            border: none;
            width: 20px;
            height: 20px;
            @include abs.desktop {
                width: 40px;
                height: 40px;
            }
            svg {
                display: none;
            }
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                border-right: 2px solid abs.$second-dark-color;
                border-bottom: 2px solid abs.$second-dark-color;
                transform: rotate(-45deg);
                @include abs.desktop {
                    border-width: 3px;
                }
            }
            &--prev {
                &:after {
                    transform: rotate(135deg);
                }
                margin-right: 20px;
            }
        }
    }
}