<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Weld Tech Group</title>
    <%- include('../templates/meta.ejs') %>
    
</head>
<body>
<%- include('../templates/header.ejs' , { isInnerPage: true }) %>

<section class="simple-section service-page light-image-bg capacitive-equipmant">
    <div class="container-md container-xxl h-100">
        <div class="container-md container-xxl h-100">
            <div class="simple-section__title dark">
                <h2>Производство ёмкостного оборудования</h2>
                <p class="accent-text-block all">
                    Мы изготавливаем различные типы резервуаров и ёмкостей для хранения жидких, сыпучих и газообразных продуктов.</p>
            </div>
        </div>
        <div class="row service-page-info-wrap">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="service-page-info">
                    <div class="gradient-border bottom">
                        <ul class="accent-list">
                            <li>
                                <h5>Ёмкости до 20 м³ мы полностью производим на собственных мощностях (возможны большие объёмы по отдельному запросу).</h5>
                            </li>
                            <li>
                                <h5>Проектируем и создаём ёмкости нестандартных форм и размеров, подстраиваясь под габариты и особенности помещения заказчика.</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="service-page-info">
                    <h3 class="service-page-info__title">Применяемые материалы:</h3>
                    <ul class="simple-list">
                        <li>
                            <p>Высоколегированные стали: AISI-304L, AISI-308L, AISI-316L, AISI-321</p>
                        </li>
                        <li>
                            <p>Низкоуглеродистые стали: Ст.10, 20, 30</p>
                        </li>
                        <li>
                            <p>Алюминий и его сплавы: АЛ, АМГ, АМЦ</p>
                        </li>
                        <li>
                            <p>Титан: ВТ1-00, ВТ-0</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 gradient-border left">
                <div class="service-page-info">
                    <h3 class="service-page-info__title">Типичные среды и продукты для хранения:</h3>
                    <ul class="simple-list">
                        <li>
                            <p>Вода, пропиленгликоль, спирт, пиво, молоко и молочные продукты</p>
                        </li>
                        <li>
                            <p>Сыпучие материалы (мука, сахар, различные порошки)</p>
                        </li>
                        <li>
                            <p>Кислоты, щёлочи, нефтепродукты, газы, сжатый воздух и пр.</p>
                        </li>
                    </ul>
                </div>
                
            </div>
            
            <div class="col-12 service-page-bottom">
                <h4>При необходимости в ёмкостях устанавливаются смесители, охлаждающие или нагревательные рубашки 
                    (теплоносителем может служить жидкость или электричество). Сварка осуществляется методами WIG–TIG, MIG–MAG, 
                    что даёт высокую надёжность и герметичность швов.</h4>
            </div>
        </div>
    </div>
</section>

<section class="simple-section">
    <div class="container-md container-xxl h-100">
        <div class="simple-section__title dark">

            <h2>Наши работы</h2>
            <p class="accent-text-block all">
                Каждый наш проект воплощает в себе точное соответствие требованиям заказчика, продуманную экономическую модель и безупречное техническое исполнение.
        </div>
        <div class="row gallery">
            
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img src="../assets/img/gallery/all/IMG_2073.webp" alt="capacitive equipmant" class="open-modal" data-type="img">
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img src="../assets/img/gallery/all/IMG_2078.webp" alt="capacitive equipmant" class="open-modal" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_07-59-35.webp" alt="capacitive equipmant" class="open-modal" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_07-59-37.webp" alt="capacitive equipmant" class="open-modal" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_07-59-40.webp" alt="capacitive equipmant" class="open-modal" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_07-59-41.webp" alt="capacitive equipmant" class="open-modal" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_07-59-44.webp" alt="capacitive equipmant" class="open-modal" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_07-59-46.webp" alt="capacitive equipmant" class="open-modal" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img src="../assets/img/gallery/capacitive-equipmant/capacitive-equipmant.webp" alt="capacitive equipmant" class="open-modal" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_08-00-00.webp" alt="capacitive equipmant" class="open-modal" data-type="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<%- include('../templates/know-more.ejs') %>


<%- include('../templates/footer.ejs') %>

</body>
</html>