<section id="certificates" class="simple-section certificate accent-section-borders">
    <div class="container-md container-xxl h-100">
      <div class="simple-section__title light border-bottom">
        <h2>Мы обладаем сертификатами,<br>
          которые имеют значение!</h2>
      </div>
      <div class="row certificate-row">
        <div class="col-12 col-md-6">
          <div class="row flex-column align-items-center">
            <h2 class="certificate-name zoom-In animate-on-scroll">ISO 3834 – 2</h2>
            <h5 class="certificate-text">подтверждает компетентность персонала и качество выполняемых работ.</h5>
            <img src="../src/assets/img/EN-ISO-3834-2.webp" class="certificate-image open-modal" alt="Preview ISO 3834 – 2" data-type="pdf" data-src="../assets/img/pdf/EN-ISO-3834-2-ENG.pdf">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row flex-column align-items-center">
             <h2 class="certificate-name zoom-In animate-on-scroll">EN 1090-1034</h2>
              <h5 class="certificate-text">подтверждает наличие эффективной системы контроля качества на заводе и соответствие продукции европейским требованиям</h5>
              <img src="../src/assets/img/1090-1034.webp" class="certificate-image open-modal" alt="Preview 1090-1034" data-type="pdf" data-src="../assets/img/pdf/EN-1090-ENG.pdf">
          </div>
        </div>
      </div>
    </div>
  </section>