<section id="features" class="features simple-section accent-bg">
    <div class="container-md container-xxl h-100">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="features-item">
            <svg class="icon icon-quality">
              <use xlink:href="#quality-certificate"></use>
            </svg>
            <h5>Мы гарантируем высококачественную работу сделанную в установленные сроки.</h5>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="features-item">
            <svg class="icon">
              <use xlink:href="#welder"></use>
            </svg>
            <h5>Мы применяем инновационные технологии сварки для оптимального сочетания качества, скорости и стоимости.</h5>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="features-item">
            <svg class="icon">
              <use xlink:href="#diploma-certificate"></use>
            </svg>
            <h5>Мы используем сертифицированное и только качественное оборудование и материалы. </h5>
          </div>
        </div>
      </div>
    </div>
  </section>