<footer id="contacts" class="contacts">
    <div class="container-md container-xxl h-100">
      <div class="simple-section__heading dark border-bottom">
        <h2>Контакты</h2>
      </div>
      <div class="row contacts-row">
        <div class="col-12 col-sm-4 contacts-text">
          <h3 class="contacts-title">Что вы получаете,
            обратившись к нам</h3>
          <h5>Профессиональную консультацию</h5>  
          <p>по вопросам сварки, монтажа трубопроводов, изготовления металлоконструкций и других услуг.</p>
          <h5>Расчёт сметы и 
            сроков выполнения работ</h5>
          <p>основанный на реальном опыте и прозрачных расценках.</p>
          <h5>Индивидуальное решение</h5>
          <p>мы подберем оптимальные технологии и материалы, соответствующие вашим требованиям.</p>
        </div>
        <div class="col-12 col-sm-4 contacts-map">
          <h3 class="contacts-title">Карта проезда</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2499.54510010815!2d17.406743076145315!3d51.20903333245683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe2bf6d7bf5ab%3A0x44eb13b70380659d!2sWile%C5%84ska%2031%2C%2056-400%20Ole%C5%9Bnica%2C%20Poland!5e0!3m2!1sen!2ses!4v1740593778661!5m2!1sen!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-12 col-sm-4 contacts-data">
          <ul class="contacts-list">
            <li class="contacts-list-item">
              <svg class="icon">
                <use xlink:href="#location"></use>
              </svg>
              <div class="contacts-list-item__content">
                <h5>Адрес офиса:</h5>
                <p>ul. Wileńska 31, 56-400 Oleśnica, Poland</p>
              </div>
            </li>
            <li class="contacts-list-item">
              <svg class="icon">
                <use xlink:href="#phone"></use>
              </svg>
              <div class="contacts-list-item__content">
                <h5>Телефон:</h5>
                <a href="tel:+48510552446">+48 510 552 446</a> 
              </div>
            </li>
            <li class="contacts-list-item">
              <svg class="icon">
                <use xlink:href="#mail"></use>
              </svg>
              <div class="contacts-list-item__content">
                <h5>E-mail:</h5>
                <a href="mailto:info@weld-tech.group">info@weld-tech.group</a>
              </div>
            </li>
            <li class="contacts-list-item">
              <svg class="icon">
                <use xlink:href="#whats-app"></use>
              </svg>
              <div class="contacts-list-item__content">
                <h5>WhatsApp:</h5>
                <a href="https://wa.me/48510552446">+48 510 552 446</a>
              </div>
            </li>
            <li class="contacts-list-item">
              <svg class="icon">
                <use xlink:href="#viber"></use>
              </svg>
              <div class="contacts-list-item__content">
                <h5>Viber:</h5>
                <a href="viber://chat?number=+48510552446">+48 510 552 446</a>
              </div>
            </li>
            <li class="contacts-list-item">
              <svg class="icon">
                <use xlink:href="#telegram"></use>
              </svg>
              <div class="contacts-list-item__content">
                <h5>Telegram:</h5>
                <a href="https://t.me/weld_tech_group">@weld_tech_group</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accent-bg simple-section form-section">
        <div class="container-md container-xxl h-100">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="form-section-text">
                        <h3>Форма обратной связи</h3>
                        <h5>Ждём ваших обращений и будем рады помочь воплотить в жизнь проекты любой сложности!</h5>
                    </div>
                </div>
                <div class="col-12 col-sm-8">
                    <form id="contact-form" class="contact-form" method="POST">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="contact-form-group">
                                    <label for="user-name">Ваше имя <span class="accent-text">*</span></label>
                                    <input type="text" id="user-name" name="user-name" class="contact-form-group__item" required>
                                </div>
                                <div class="contact-form-group">
                                    <label for="user-email">Ваш эмейл <span class="accent-text">*</span></label>
                                    <input  type="email" id="user-email" name="user-email" class="contact-form-group__item" required 
                                            pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$" 
                                            title="Введите корректный email (например, example@mail.com)">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="contact-form-group h-100">
                                    <label for="user-message">Ваше сообщение</label>
                                    <textarea id="user-message" name="user-message" class="contact-form-group__item textarea-item"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-group d-flex justify-content-end">
                            <input type="submit" value="Отправить" class="contact-form-group__button simple-button">
                        </div>
                        <div class="d-flex justify-content-end">
                            <p id="form-status" class="contact-form-status"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container-md container-xxl d-flex justify-content-between">
            <p>@Copyright 2025-2026. Все права защищены.</p>
            <a href="./privacy-policy.html" target="_blank">Политика конфиденциальности</a>
          </div>
    </div>
    <div id="cookie-notification" class="cookie-notification">
        <p>
          Мы используем cookie-файлы для обеспечения удобства работы с сайтом, персонализации контента и предоставления вам наиболее релевантной информации. 
          Cookie-файлы помогают нам анализировать взаимодействие пользователей с сайтом, улучшать его функционал и адаптировать наши услуги под ваши потребности. Продолжая использовать данный сайт, вы подтверждаете своё согласие на использование cookie-файлов       
        </p>
        <button id="accept-cookies" class="simple-button">Принять</button>
    </div>
  </footer>