<div class="row gallery">
            
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/all/IMG_2073.webp" alt="capacitive equipmant" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/all/IMG_2078.webp" alt="capacitive equipmant" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_07-59-35.webp" alt="capacitive equipmant" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_07-59-37.webp" alt="capacitive equipmant" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_07-59-40.webp" alt="capacitive equipmant" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_07-59-41.webp" alt="capacitive equipmant" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_07-59-44.webp" alt="capacitive equipmant" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_07-59-46.webp" alt="capacitive equipmant" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/capacitive-equipmant/capacitive-equipmant.webp" alt="capacitive equipmant" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/capacitive-equipmant/photo_2020-03-15_08-00-00.webp" alt="capacitive equipmant" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
</div>