<div class="row gallery">
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/20210114_090843446_iOS.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/20210114_090845263_iOS.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/20210114_090847497_iOS.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/20210126_145043277_iOS.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/20210202_150738107_iOS.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/20210208_134942767_iOS.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/20210209_161352364_iOS.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/20210604_114736695_iOS.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/20210604_114736695_iOS.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/20210604_114828832_iOS.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/20210923_083757467_iOS.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/DJI_0216.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/IMG_1412.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/IMG_1471.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/IMG_1695.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/IMG_2077.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/food-industry/IMG_2080.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

</div>