<div class="row gallery">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img data-src="../assets/img/gallery/installation-of-process-pipelines/pipelines-1.webp" alt="Pipelines 1" class="open-modal lazy-image" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img data-src="../assets/img/gallery/installation-of-process-pipelines/pipelines-2.webp" alt="Pipelines 2" class="open-modal lazy-image" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img data-src="../assets/img/gallery/installation-of-process-pipelines/pipelines-3.webp" alt="Pipelines 3" class="open-modal lazy-image" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img data-src="../assets/img/gallery/installation-of-process-pipelines/pipelines-4.webp" alt="Pipelines 4" class="open-modal lazy-image" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img data-src="../assets/img/gallery/installation-of-process-pipelines/pipelines-5.webp" alt="Pipelines 5" class="open-modal lazy-image" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img data-src="../assets/img/gallery/installation-of-process-pipelines/pipelines-6.webp" alt="Pipelines 6" class="open-modal lazy-image" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img data-src="../assets/img/gallery/installation-of-process-pipelines/pipelines-7.webp" alt="Pipelines 7" class="open-modal lazy-image" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img data-src="../assets/img/gallery/installation-of-process-pipelines/pipelines-8.webp" alt="Pipelines 8" class="open-modal lazy-image" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img data-src="../assets/img/gallery/installation-of-process-pipelines/pipelines-9.webp" alt="Pipelines 9" class="open-modal lazy-image" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img data-src="../assets/img/gallery/installation-of-process-pipelines/pipelines-10.webp" alt="Pipelines 10" class="open-modal lazy-image" data-type="img">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img data-src="../assets/img/gallery/installation-of-process-pipelines/pipelines-11.webp" alt="Pipelines 11" class="open-modal lazy-image" data-type="img">
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-3">
                <div class="gallery-image zoom-In animate-on-scroll">
                    <div class="gallery-image-wrap">
                        <img data-src="../assets/img/gallery/installation-of-process-pipelines/pipelines-12.webp" alt="Pipelines 12" class="open-modal lazy-image" data-type="img">
                    </div>
                </div>
            </div>

        </div>