<div class="row gallery">
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/1.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/1624271548720354.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/20230206_060012130_iOS.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/IHXA9147.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/IMG_0690.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/IMG_0692.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/IMG_1118.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/IMG_1287.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/IMG_1741.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/IMG_2201.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/IMG_2203.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/IMG_2589.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/IWYG3067.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/photo_2023-09-26_14-58-10.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/photo_2_2024-05-10_18-51-58.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img data-src="../assets/img/gallery/chemical-energy-industry/photo_7_2024-05-10_18-51-58.webp" alt="food industry" class="open-modal lazy-image" data-type="img">
            </div>
        </div>
    </div>

</div>