<div class="row gallery">
            
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/metal-constructions-1.webp" alt="metal constructions" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/huge-pipelines.webp" alt="huge pipelines" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/IMG_1414.webp" alt="equipment for industry" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/IMG_1415.webp" alt="equipment for industry" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/IMG_1504.webp" alt="pipelines" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/IMG_1696.webp" alt="pipelines work" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/IMG_2073.webp" alt="capacitive equipment" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/IMG_2077.webp" alt="pipelines" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/IMG_2078.webp" alt="capacitive equipment" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/IMG_2080.webp" alt="pipelines" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/IMG_2200.webp" alt="pipelines" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/photo_2023-09-19_21-25-44.webp" alt="huge pipelines" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/photo_2023-09-26_14-58-16.webp" alt="welder" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/pipelines-construction.webp" alt="pipelines constructions" class="open-modal" data-type="img">
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/round-pipelines.webp" alt="curve huge pipelines" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="gallery-image zoom-In animate-on-scroll">
            <div class="gallery-image-wrap">
                <img src="../assets/img/gallery/all/IMG_2075.webp" alt="pipelines" class="open-modal" data-type="img">
            </div>
        </div>
    </div>
</div>