<header class="main-header">
    <div class="container-fluid main-container h-100">
        <div class="row align-items-center h-100">
          <div class="col-6 col-md-3">
            <a href="/" class="logo">
              <% if (isInnerPage) { %>
                <img src="../assets/img/logo-WTG.svg" alt="logo">
              <% } else { %>
                <img src="./assets/img/logo-WTG.svg" alt="logo">
              <% } %>
            </a>
          </div>
          <div class="col-6 col-md-9">
            <nav class="menu-desktop">
              <ul class="menu">
                <li class="menu-item"><a href="/">Главная</a></li>
                <li class="menu-item"><a href="./about-us.html">О нас</a></li>
                <li class="menu-item">
                    <a href="./our-services.html">Наши услуги</a>
                    <ul class="submenu">
                      <li class="submenu-item"><a href="./services/installation-of-process-pipelines.html">Монтаж технологических трубопроводов</a></li>
                      <li class="submenu-item"><a href="./services/equipment-for-industry.html">Оборудование для промышленности</a></li>
                      <li class="submenu-item"><a href="./services/production-of-capacitive-equipment.html">Производство ёмкостного оборудования</a></li>
                      <li class="submenu-item"><a href="./services/metal-structures-and-service-platforms.html">Металлоконструкции и площадки обслуживания</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="./#our-projects">Проекты</a>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="./projects/gallery-projects.html">Галлерея проектов</a></li>
                        <li class="submenu-item"><a href="./projects/industry-solutions.html">Отраслевые решения</a></li>
                        <li class="submenu-item"><a href="./projects/our-equipment.html">Наше оборудование</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="./#contacts">Контакты</a></li>
              </ul>
            </nav>
            <div class="mobile-menu-container">
              <button class="mobile-menu-toggle">
                  <span class="line"></span>
                  <span class="line"></span>
                  <span class="line"></span>
              </button>
              <nav class="mobile-menu">
                <ul class="menu">
                    <li class="menu-item"><a href="/">Главная</a></li>
                    <li class="menu-item"><a href="./about-us.html">О нас</a></li>
                    <li class="menu-item">
                        <a href="./our-services.html">Наши услуги</a>
                        <ul class="submenu">
                            <li class="submenu-item"><a href="./services/installation-of-process-pipelines.html">Монтаж технологических трубопроводов</a></li>
                            <li class="submenu-item"><a href="./services/equipment-for-industry.html">Оборудование для промышленности</a></li>
                            <li class="submenu-item"><a href="./services/production-of-capacitive-equipment.html">Производство ёмкостного оборудования</a></li>
                            <li class="submenu-item"><a href="./services/metal-structures-and-service-platforms.html">Металлоконструкции и площадки обслуживания</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="./#our-projects">Проекты</a>
                        <ul class="submenu">
                          <li class="submenu-item"><a href="./projects/gallery-projects.html">Галлерея проектов</a></li>
                          <li class="submenu-item"><a href="./projects/industry-solutions.html">Отраслевые решения</a></li>
                          <li class="submenu-item"><a href="./projects/our-equipment.html">Наше оборудование</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="./#contacts">Контакты</a></li>
                  </ul>
              </nav>
            </div> 
          </div>
            
        </div>
      </div>
</header>