<section class="simple-section know-more dark-image-bg accent-section-borders">
    <div class="container-md container-xxl h-100">
        <h4 class="know-more-text">
            Если вы хотите узнать больше о наших выполненных работах или обсудить будущий проект, 
            свяжитесь с нами любым удобным способом. Мы будем рады поделиться дополнительными подробностями и предложить решения, 
            идеально соответствующие вашим потребностям.
        </h4>
    </div>
</section>