<section id="services" class="simple-section services">
    <div class="container-md container-xxl h-100">
    <div class="simple-section__title light">
        <h2>Наши услуги</h2>
        <p class="accent-text-block all">
            Пользуясь многолетним опытом , мы научились находить решение для любых задач, 
            не пренебрегая качеством и сроками выполнения.</p>
    </div>
      <div class="row services-item-row">
        <div class="col-12 col-md-6 services-item-wrap">
          <div class="services-item">
            <a href="./services/installation-of-process-pipelines.html" class="services-item__heading animate-on-scroll">
              <div class="services-item__heading-img">
                <svg class="icon">
                  <use xlink:href="#pipelines"></use>
                </svg>
              </div>
              <div class="services-item__heading-text">
                <h3>Монтаж технологических<br> трубопроводов</h3>
              </div>
            </a>
            <div class="services-item__description">
              <p>Мы профессионально занимаемся монтажом и сваркой технологических трубопроводов из 
                нержавеющей стали (AISI-304L, AISI-308L, AISI-316L, AISI-321), углеродистых сталей (Ст.20, 30),
                а также из титана и алюминия.</p>
            </div>
            <div class="services-item__btn">
                <a href="./services/installation-of-process-pipelines.html" class="accent-button">Подробнее</a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 services-item-wrap">
          <div class="services-item">
            <a href="./services/equipment-for-industry.html" class="services-item__heading animate-on-scroll">
              <div class="services-item__heading-img">
                <svg class="icon icon-equipment">
                  <use xlink:href="#industry-equipment"></use>
                </svg>
              </div>
              <div class="services-item__heading-text">
                <h3>Оборудование<br>
                  для промышленности</h3>
              </div>
            </a>
            <div class="services-item__description">
              <p>
                Мы изготавливаем дополнительное оборудование для различных производственных линий и систем, 
                применяемых в химической, пищевой, фармацевтической и смежных отраслях.
              </p>
            </div>
            <div class="services-item__btn">
              <a href="./services/equipment-for-industry.html" class="accent-button">Подробнее</a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 services-item-wrap">
          <div class="services-item">
            <a href="./services/production-of-capacitive-equipment.html"  class="services-item__heading animate-on-scroll">
              <div class="services-item__heading-img">
                <svg class="icon">
                  <use xlink:href="#capacitive-equipment"></use>
                </svg>
              </div>
              <div class="services-item__heading-text">
                <h3>Производство<br> ёмкостного 
                  оборудования</h3>
                </div>
            </a>
            <div class="services-item__description">
              <p>
                Мы профессионально занимаемся монтажом и сваркой технологических трубопроводов из нержавеющей стали 
                (AISI-304L, AISI-308L, AISI-316L, AISI-321), углеродистых сталей (Ст.20, 30), а также из титана и алюминия.
              </p>
            </div>
            <div class="services-item__btn">
              <a href="./services/production-of-capacitive-equipment.html" class="accent-button">Подробнее</a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 services-item-wrap">
          <div class="services-item">
            <a href="./services/metal-structures-and-service-platforms.html" class="services-item__heading animate-on-scroll">
              <div class="services-item__heading-img">
                <svg class="icon">
                  <use xlink:href="#metal-structures"></use>
                </svg>          
              </div>
              <div class="services-item__heading-text">
                <h3>Металлоконструкции и <br>
                  площадки обслуживания</h3>
                </div>
              </a>
            <div class="services-item__description">
              <p>
                Мы производим и монтируем металлические конструкции различной сложности, включая фермы, лестницы, 
                поручни, каркасы для монтажа шкафов управления и многое другое. Все изделия соответствуют нормам прочности и безопасности.
              </p>
            </div>
            <div class="services-item__btn">
              <a href="./services/metal-structures-and-service-platforms.html" class="accent-button">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      
  
      <div class="services-bottom-info">
        <h4>Свяжитесь с нами прямо сейчас и наши специалисты оперативно ответят на ваши вопросы, 
          уточнят детали проекта и подготовят индивидуальное коммерческое предложение.  </h4>
          <div class="btn-group group-center">
            <div class="btn-group-nowrap">
              <span class="arrow arrow-right arrow-light animate-on-scroll"></span>
              <a href="#contacts" class="simple-button">Контакты</a>
              <span class="arrow arrow-left arrow-light animate-on-scroll"></span>
            </div>
          </div>
      </div>
    </div>
  </section>