<section id="stuff" class="simple-section stuff">
    <div class="container-md container-xxl h-100">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-8 stuff-content">
          <div class="stuff-content__heading">
            <h3>Более</h3>
            <div class="stuff-content__heading-row">
              <h2 class="gradient-number animate-on-scroll zoom-In">50</h2>
              <h4>высококвалифицированных сотрудников с многолетним опытом сварки композиционных материалов и других материалов, 
              имеющих сложные характеристики свариваемости.</h4>
              
            </div>
            
          </div>
          <div class="stuff-content__text">
            <p class="accent-text-block left">
              <b>Наша команда</b> — это высококвалифицированные сварщики и конструкторы, которые регулярно проходят обучение и осваивают современные 
              технологии, документируют и сертифицируют каждый этап работ. Ключевую роль в компании играют сварщики, способные выполнять 
              сварку «под зеркало» (mirror welding), а также сварку труб из нержавеющей стали, различных сплавов и конструкций. 
              Они безупречно справляются с работами на материалах от углеродистой и легированной стали (включая карбиды) до трудносвариваемых 
              металлов, обеспечивая высокое качество стыков и монтажных соединений.
          </p>
          </div>
          
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="shadow-image right animate-on-scroll">
            <div class="shadow-image-wrap">
                <img src="./assets/img/welder.webp" alt="Welder">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>