 <div class="row work-stages-row">
        <div class="col-12 col-md-6 offset-sm-0 work-stages-item item-1">
          <div class="work-stages-item__wrap">
            <h4 class="work-stages-item__title">Консультация</h4>
            <p class="work-stages-item__description">На первой консультации мы уточняем основные требования и специфику проекта, отвечаем на вопросы клиента и обсуждаем дальнейший 
              план работы.</p>
              <div class="stage-circle zoom-In animate-on-scroll">1</div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 offset-md-6 work-stages-item item-2">
          <div class="work-stages-item__wrap">
            <h4 class="work-stages-item__title">Анализ и планирование</h4>
            <p class="work-stages-item__description">Определяем технические параметры, сроки и бюджет учитывая нюансы отрасли и местные нормативы.</p>
            <div class="stage-circle zoom-In animate-on-scroll">2</div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 offset-sm-0 work-stages-item item-3">
          <div class="work-stages-item__wrap">
            <h4 class="work-stages-item__title">Проектирование</h4>
            <p class="work-stages-item__description">Создаём детализированные чертежи и 3D-модели, согласовываем спецификации и график поставок материалов.</p>
            <div class="stage-circle zoom-In animate-on-scroll">3</div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 offset-md-6 work-stages-item item-4">
          <div class="work-stages-item__wrap">
            <h4 class="work-stages-item__title">Производство и сварочные работы</h4>
            <p class="work-stages-item__description">Мы используем современные технологии  (WIG–TIG, MIG–MAG, орбитальная сварка и др.) и сертифицированные материалы.</p>
            <div class="stage-circle zoom-In animate-on-scroll">4</div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 offset-sm-0 work-stages-item item-5">
          <div class="work-stages-item__wrap">
            <h4 class="work-stages-item__title">Монтаж и проверка</h4>
            <p class="work-stages-item__description">Опытные бригады выезжают на объект выполняют установку и пуско-наладку. Проводим тестирование на герметичность, 
            прочность и соответствие техническим требованиям.</p>
            <div class="stage-circle zoom-In animate-on-scroll">5</div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 offset-md-6 work-stages-item item-6">
          <div class="work-stages-item__wrap">
            <h4 class="work-stages-item__title">Сдача объекта и сопровождение</h4>
            <p class="work-stages-item__description">Оформляем необходимую документацию (сертификаты, акты приёмки), даём гарантии и при необходимости обеспечиваем сервисное обслуживание.</p>
            <div class="stage-circle zoom-In animate-on-scroll">6</div>
          </div>
        </div>
        <span class="stage-line"></span>
      </div>
    