$base-color:                #FFFEFC;
$light-color:               #F4F2ED;
$dark-color:                #171615;
$second-dark-color:         #7A1F21;

$accent-color:              #D5AB02;
$second-accent-color:       #BB2A2B;

$h1-size-xxl-desktop:   86px;
$h1-size-desktop:       64px;
$h1-size-mobile:        56px;

$h2-size-xxl-desktop:   64px;
$h2-size-desktop:       54px;
$h2-size-mobile:        46px;

$h3-size-xxl-desktop:   48px;
$h3-size-desktop:       40px;
$h3-size-mobile:        36px;

$h4-size-xxl-desktop:   36px;
$h4-size-desktop:       28px;
$h4-size-mobile:        24px;

$h5-size-xxl-desktop:   28px;
$h5-size-desktop:       24px;
$h5-size-mobile:        20px;

$h6-size-xxl-desktop:   24px;
$h6-size-desktop:       20px;
$h6-size-mobile:        18px;

$text-size-xxl-desktop: 20px;
$text-size-desktop:     18px;
$text-size-mobile:      18px;

$max-width:             1000px;

