@use '../abstracts/abstracts' as abs;

.contacts {
    padding-top: 60px;
    @include abs.desktop {
        padding-top: 80px;
    }
    &-row {
        margin-top: 10px;
        @include abs.tablet {
            margin: 40px 0 60px;
        }
        @include abs.desktop {
            margin: 40px 0 80px; 
        }
        .contacts-text,
        .contacts-data,
        .contacts-map {
            @include abs.desktop {
               padding: 10px 30px; 
            }
        }
    }
    
    &-text {
        padding-left: 100px;
        text-align: center; 
        @include abs.up-desktop-sm {
            max-width: 400px;
            margin: 0 auto;
        }
        @include abs.desktop-sm {
            text-align: right;
        }
        h5 {
            color: abs.$second-accent-color;
        }
        p {
            margin-bottom: 20px;
        }
    }
    &-title {
        color: abs.$second-dark-color;
        margin-bottom: 20px;
        line-height: 1;
        @include abs.desktop {
            margin-bottom: 30px;
        }
    }
    &-data {
        @include abs.only-tablet {
            border-right: 3px solid abs.$accent-color;
            border-image-source: linear-gradient(abs.$second-accent-color 25%, abs.$accent-color 75%);
            border-image-slice: 1;
        }
    }
    &-map {
        text-align: center;
        iframe {
            height: 350px;
            @include abs.desktop {
                height: 550px;
            }
        }
    }
    &-list {
        @include abs.only-tablet {
            margin-left: 30px;
            margin-top: 40px;
        }
        &-item {
            display: flex;
            margin-bottom: 15px;
            @include abs.desktop {
                margin-bottom: 30px;
            }
            svg {
                width: 18px;
                height: 18px;
                max-width: 18px;
                margin-top: 5px;
                fill: abs.$second-accent-color; 
                @include abs.desktop {
                    width: 22px;
                    height: 22px;
                    max-width: 22px;
                }
            }
            &__content {
                margin-left: 10px;
                @include abs.desktop {
                    margin-left: 20px;
                }
                h5 {
                    color: abs.$second-accent-color;
                }
                a, p {
                    font-family: abs.$AlumniSans-Medium;
                    color: abs.$second-dark-color;
                    @include abs.desktop-xxl {
                        font-size: abs.$h5-size-xxl-desktop;
                    }
                }
            }
        }
    }
}



.copyright {
    width: 100%;
    background-color: abs.$dark-color;
    padding: 10px 0;
    @include abs.only-mobile {
        margin-bottom: 49px;
    }
    &-content {
        text-align: center;
        @include abs.tablet {
            display: flex;
            justify-content: space-between;  
        }
        p, a {
            font-family: abs.$AlumniSans-Medium;
            color: abs.$base-color;
            font-size: abs.$h6-size-mobile;
            @include abs.desktop {
                font-size: abs.$h6-size-desktop;
            }
            @include abs.desktop-xxl {
                font-size: abs.$h6-size-xxl-desktop;
            }
        }
        a {
            &:hover,
            &:focus {
                color: abs.$accent-color;
                }
        }  
    }
    
}

.cookie-notification {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: abs.$light-color;
    font-size: 14px;
    padding: 15px;
    z-index: 1000;
    display: none; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include abs.tablet {
        padding: 20px;
        font-size: 16px;
    }
    p {
        width: 100%;
        @include abs.tablet {
            width: 70%;
        }
    }
    .simple-button {
        @include abs.only-mobile {
            margin-top: 15px;
        }
    }
  }