@use '../abstracts/abstracts' as abs;

.services {
    background: url(../assets/img/services-bg.jpg) center no-repeat;
    background-size: cover;
    &-item {
        background-color: abs.$light-color;
        position: relative;
        max-width: 350px;
        margin: 0 auto;
        height: 100%;
        @include abs.desktop-sm {
            max-width: 500px;
        }
        @include abs.desktop-xl {
            max-width: 550px;
        }
        @include abs.desktop-xxl {
            max-width: 600px;
        }
        &-row {
            margin-top: 120px;
            @include abs.desktop {
                margin-top: 170px;
            }
        }
        &-wrap {
            margin-bottom: 120px; 
            &:last-child {
                margin-bottom: 70px;
            }
            @include abs.tablet{
                margin-bottom: 30px; 
            }
            @include abs.desktop {
                margin-bottom: 80px; 
                &:last-child {
                    margin-bottom: 110px;
                }
            }
            @include abs.desktop-xxl {
                margin-bottom: 100px; 
                
            }
            &:nth-child(2n) {
                .services-item {
                    @include abs.tablet {
                        margin-top: 90px;  
                    }
                    @include abs.desktop-sm {
                        margin-top: 110px;
                    }
                    @include abs.desktop {
                      margin-top: 80px;  
                    }
                }
                
            }
        }
        &__heading {
            position: absolute;
            display: flex;
            align-items: center;
            left: -15px;
            top: -50px;
            color: abs.$base-color;
            padding: 10px 5px;
            background: linear-gradient(140deg, abs.$accent-color 1%, abs.$second-accent-color 40%, abs.$second-dark-color 85%);
            width: 100%;
            @include abs.desktop-sm {
                padding: 10px;
                top: -70px;
            }
            @include abs.desktop {
                padding: 15px;
                left: -30px;
                top: -80px;
            }
            &-img {
                min-width: 70px;
                @include abs.desktop-xxl {
                    min-width: 120px;
                }
                .icon {
                    width: 70px;
                    height: 70px; 
                    @include abs.desktop-sm {
                        width: 90px;
                        height: 90px;  
                    }
                    @include abs.desktop-xxl {
                        width: 120px;
                        height: 120px; 
                    }
                }
                .icon-equipment {
                    width: 60px;
                    @include abs.desktop-sm {
                        width: 80px; 
                    }
                    @include abs.desktop-xxl {
                        width: 110px;
                    }
                }
            }
            &-text {
                padding-left: 10px; 
                @include abs.desktop-sm {
                    padding-left: 20px; 
                }
            }
        }
        &__description {
            padding: 70px 20px 30px;
            @include abs.desktop {
                padding-bottom: 40px;
            }
            @include abs.desktop-xxl {
                padding: 100px 30px 40px;  
            }
        }
        &__btn {
            position: absolute;
            bottom: -20px;
            right: 15px;
            z-index: 1;
            @include abs.desktop {
                bottom: -25px;
                right: 30px;
            }
            @include abs.desktop-xxl {
                bottom: -30px;
            }
        }
    }
    &-bottom-info {
        text-align: center;
        color: abs.$base-color;
        text-shadow: abs.$shadow-white-text;
        max-width: 600px;
        margin: 0 auto;
        @include abs.desktop-xxl {
            max-width: 900px;
        }
        h4 {
            text-shadow: abs.$shadow-white-text;
        }
        .btn-group {
            margin-top: 30px;
            @include abs.desktop {
                margin-top: 50px;
            }
        }
        
    }
}
