@use '../abstracts/abstracts' as abs;

.stuff {
    &-content {
        padding-right: 50px;
        @include abs.only-mobile {
            margin-bottom: 50px;
        }
        &__heading {
            color: abs.$second-dark-color;
            &-row {
                margin-top: -50px;
                @include abs.tablet {
                    display: flex;
                }
                h4 {
                    @include abs.only-mobile {
                        margin-top: -40px;
                    }
                    @include abs.tablet {
                        padding-top: 50px;
                        padding-left: 10px;
                    }
                    @include abs.desktop {
                        padding-top: 90px;
                    }
                    @include abs.desktop-xl {
                        max-width: 500px;
                    }
                    
                }
            }
        }
        &__text {
            margin-left: 10px;
            @include abs.tablet {
                margin-left: 30px;
                margin-top: -130px;
                
            }
            @include abs.desktop-sm {
                margin-top: -40px;
                
            }
            @include abs.desktop {
               margin-left: 40px; 
            }
            @include abs.desktop-xxl {
                margin-top: -120px;  
            }
            .accent-text-block {
                padding-top: 30px;
                @include abs.only-mobile {
                  margin-top: 10px;  
                }
                @include abs.tablet {
                    padding-top: 160px;
                }
                @include abs.desktop-sm {
                    padding-top: 50px;
                }
                @include abs.desktop {
                    padding-top: 90px;
                }
                @include abs.desktop-xxl {
                    padding-top: 180px;
                }
            }
            
        }
        
    }
    .shadow-image {
        @include abs.desktop {
            margin-top: 50px;
        }
    }
    .gradient-number {
        line-height: 1.2;
        font-size: 160px;
        @include abs.desktop {
            font-size: 220px;
            line-height: 1;
        }
    }
    
}

