@use '../abstracts/abstracts' as abs;

.welcome {
    display: flex;
    flex-direction: column;
    @include abs.desktop-sm {
        height: calc(100vh - 50px); 
    }
    @include abs.desktop {
        height: calc(100vh - 70px); 
    }
    &-banner {
        position: relative;
        height: 80vh;
        background: url(../assets/img/baner.webp) center left 45% no-repeat;
        background-size: cover;
        @include abs.tablet {
            height: 400px;
        }
        @include abs.desktop-sm {
            height: 60%;
        }
    }
    &-text {
        position: relative;
        padding: 40px 0;
        @include abs.desktop {
            padding: 0;
        }
        &-wrap {
            background-color: abs.$light-color;
            @include abs.desktop-sm {
                flex-grow: 1;
            }
        }
        h3 {
            color: abs.$second-dark-color;
        }
        .arrow {
            display: none;
            @include abs.tablet {
                position: absolute;
                display: block;
                right: -35px;
                bottom: 10px;
            }
            @include abs.desktop {
                right: -100px;
                bottom: -30px;
            }
        }
    }
    &-heading {
        max-width: 400px;
        color: abs.$light-color;
        @include abs.only-large-mobile {
            margin-left: 40px;
        }
        @include abs.desktop {
            max-width: 700px;
        }
        &-wrap {
            height: 100%;
        }
        &__buttons {
            display: flex;
            position: relative;
            z-index: 1;
            .simple-button {
                margin-right: 20px;
                @include abs.desktop {
                    margin-right: 30px;
                }
            }
            .simple-button:last-child {
                margin-right: 0;
            }
        }
        h1 {
            text-shadow: 0 2px 5px rgba(20, 18, 18, 0.5);
        }
        h1, h6 {
            line-height: 0.7;
        }
        h6 {
            margin-left: 5px;
        }
        h4 {
            margin: 35px 0; 
        }
        h4,h6 {
            text-shadow: abs.$shadow-white-text;
        }
    }
    &-video {
        display: none;
        @include abs.tablet {
            display: block;
            position: absolute;
            z-index: 3;
            left: auto;
            top: 0;
            right: 40px;
            height: 100% ;
        }
        @include abs.desktop-sm {
            height: 65vh;
        }
        @include abs.desktop-xxl {
            height: calc(100vh - 150px);
            right: 50px;
        }
        video {
            height: 100%;
            width: 100%;
        }
    }
}