@use '../abstracts/abstracts' as abs;

.welcome {
    display: flex;
    flex-direction: column;
    @include abs.tablet {
        height: calc(100vh - 50px);
    }
    @include abs.desktop {
        height: calc(100vh - 100px); 
    }
    &-banner {
        position: relative;
        height: 100vh;
        background: url(../assets/img/baner.jpg) 0 50% no-repeat;
        background-size: cover;
        @include abs.tablet {
            height: 60%;
        }
    }
    &-text {
        position: relative;
        &-wrap {
            background-color: abs.$light-color;
            @include abs.only-mobile {
                margin-top: 100px;
            }
            @include abs.tablet {
                flex-grow: 1;
            }
        }
        h3 {
            color: abs.$second-dark-color;
            margin-left: -20px;
        }
        .arrow {
            position: absolute;
            right: -100px;
            bottom: -50px;
        }
    }
    &-heading {
        max-width: 700px;
        color: abs.$light-color;
        @include abs.only-mobile {
            margin-top: 50px;
        }
        &-wrap {
            @include abs.tablet {
                height: 100%;
            }
        }
        &__buttons {
            display: flex;
            position: relative;
            z-index: 1;
            .simple-button {
                margin-right: 20px;
                @include abs.desktop {
                    margin-right: 30px;
                }
            }
            .simple-button:last-child {
                margin-right: 0;
            }
        }
        h1 {
            text-shadow: 0 2px 5px rgba(20, 18, 18, 0.5);
        }
        h1, h5 {
            line-height: 0.7;
        }
        h5 {
            margin-left: 5px;
        }
        h4 {
            margin: 25px 0;
            @include abs.desktop {
                margin: 35px 0; 
            }
        }
        h4,h5 {
            text-shadow: abs.$shadow-white-text;
        }
    }
    &-video {
        position: absolute;
        height: calc(100vh - 320px);
        @include abs.only-mobile {
            margin-top: 30px;
        }
        @include abs.tablet {
            left: auto;
            top: 0;
            right: 21px;
            height: calc(100vh - 150px);
        }
        video {
            height: 100%;
            width: 100%;
        }
    }
}