@use '../abstracts/abstracts' as abs;


.work-stages {
    &-row {
        position: relative;
        margin: 100px 0;
        .stage-line {
            position: absolute;
            height: 100%;
            width: 2px;
            left: 50%;
            margin-left: -1px;
            min-height: 200px;
            padding: 0;
            z-index: -1;
            background: linear-gradient(abs.$accent-color, #C86A16, #C24A21, abs.$second-accent-color, #9A2526, abs.$second-dark-color);
            transition: abs.$animation-transition;
            @include abs.desktop {
                width: 3px;
            }
        }
    }
    &-item {
        display: flex;
        justify-content: flex-end;
        position: relative;
        text-align: right;
        &__wrap {
            width: 80%;  
        }
        &__title {
            display: block;
            width: 100%;
            border-bottom: 3px solid;
            line-height: 1.4;
        }
        &__description {
            padding-top: 10px;
        }
        &__title,
        &__description {
            padding-right: 50px; 
        }
        @include abs.tablet {
            &:nth-child(2n) {
                text-align: left;
                justify-content: flex-start;
                .stage-circle { 
                left: -30px;
                right: auto;
                }
                .work-stages-item__title {
                    white-space: nowrap;
                }
                .work-stages-item__title,
                .work-stages-item__description {
                padding-left: 50px;
                padding-right: 0;
                }
            }  
          }
        .stage-circle {
            position: absolute;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: abs.$base-color;
            font-size: abs.$h3-size-mobile;
            font-family: abs.$AlumniSans-Medium;
            outline: 10px solid;
            border-radius: 50%;
            right: -30px;
            top: 30px;
            margin-top: -10px;
            box-sizing: content-box;
            @include abs.desktop {
                font-size: abs.$h3-size-desktop;
            }
            @include abs.desktop-xxl {
                font-size: abs.$h3-size-xxl-desktop;
            }
        }
        &.item-1 {
            h4 {
                color: abs.$accent-color;
                border-color: abs.$accent-color;
            }
            .stage-circle {
                background-color: abs.$accent-color;
                outline-color: rgba(213, 171, 2, 0.5);
            }
        }
        &.item-2 {
            h4 {
                color: #C86A16;
                border-color: #C86A16;
            }
            .stage-circle {
                background-color: #c86a16;
                outline-color: rgba(200, 106, 22, 0.5);
            }
        }
        &.item-3 {
            h4 {
                color: #C24A21;
                border-color: #C24A21;
            }
            .stage-circle {
                background-color: #c24a21;
                outline-color: rgba(194, 74, 33, 0.5);
            }
        }
        &.item-4 {
            h4 {
                color: abs.$second-accent-color;
                border-color: abs.$second-accent-color;
            }
            .stage-circle {
                background-color: abs.$second-accent-color;
                outline-color: rgba(187, 42, 43, 0.5);
            }
        }
        &.item-5 {
            h4 {
                color: #C24A21;
                border-color: #C24A21;
            }
            .stage-circle {
                background-color: #c24a21;
                outline-color: rgba(194, 74, 33, 0.5);
            }
        }
        &.item-6 {
            h4 {
                color: abs.$second-dark-color;
                border-color: abs.$second-dark-color;
            }
            .stage-circle {
                background-color: abs.$second-dark-color;
                outline-color: rgba(122, 31, 33, 0.5);
            }
        }
        
    }
}