<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Weld Tech Group</title>
    <%- include('./templates/meta.ejs') %>
    
</head>
<body>
<%- include('./templates/header.ejs', { isInnerPage: false }) %>

<section class="simple-section about-us-page">
    <div class="container-md container-xxl h-100">
        <div class="simple-section__title dark border-bottom">
          <h2>О нас</h2>
        </div>
        <div class="row about-us-page-row">
            <div class="col-12 col-lg-6">
                <div class="about-us-page__text">
                    <h3 class="simple-section__subtitle subtitle-left">Наша история и ценности</h3>
                    <p class="accent-border left">
                        Компания <b>Weld Tech Group</b> с момента своего основания стабильно расширяет спектр услуг 
                        и повышает качество работ в области сварки и монтажа технологических трубопроводов, 
                        производства металлоконструкций и промышленных емкостей. 
                        За годы непрерывного развития мы накопили обширный опыт и сформировали команду экспертов,
                        способных успешно решать задачи любой сложности. 
                        Наша надёжность и профессионализм подтверждаются многолетним сотрудничеством с 
                        постоянными клиентами в Польше, Литве, Германии и других странах Европы.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about-us-page__video shadow-video right">
                    <video width="100%" height="100%" autoplay muted loading="lazy">
                    <source src="assets/img/IMFZ6564.webm" type="video/webm">
                    <source src="assets/img/IMFZ6564.MP4" type="video/mp4">
                        Your brawser not support videos.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-section values">
    <div class="container-md container-xxl h-100">
        <div class="simple-section__title dark border-bottom values-heading">
            <h2>Пять неизменных принципов,<br> лежащих в основе нашей работы</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 values-item-wrap">
                <div class="values-item accent-border all">
                    <div class="values-item__title">
                        <h2 class="gradient-number animate-on-scroll zoom-In">1</h2>
                        <h3>Качество, проверенное временем</h3>
                    </div>
                    <div class="values-item__text">
                        Мы применяем современные методы сварки, используя только сертифицированные материалы. 
                        Каждая стадия производства строго контролируется, что гарантирует долговечность и безопасность готовых конструкций.
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 values-item-wrap">
                <div class="values-item accent-border all">
                    <div class="values-item__title">
                        <h2 class="gradient-number animate-on-scroll zoom-In">2</h2>
                        <h3>Командная работа</h3>
                    </div>
                    <div class="values-item__text">
                        Наши специалисты обладают высоким уровнем подготовки и регулярно повышают квалификацию. Они умеют работать с широким спектром материалов: от высоко- и низколегированных сталей до титана и алюминия. 
                        Такой профессиональный подход позволяет нам безупречно выполнять как типовые, так и нестандартные проекты.
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 values-item-wrap">
                <div class="values-item accent-border all">
                    <div class="values-item__title">
                        <h2 class="gradient-number animate-on-scroll zoom-In">3</h2>
                        <h3>Ориентация на клиента</h3>
                    </div>
                    <div class="values-item__text">
                        Мы прислушиваемся к запросам заказчика и стремимся предложить оптимальное решение с учётом бюджета, 
                        сроков и особенностей конкретного предприятия. 
                        Индивидуальный подход и гибкость в работе помогают выстраивать долгосрочные партнёрские отношения.
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 values-item-wrap">
                <div class="values-item accent-border all">
                    <div class="values-item__title">
                        <h2 class="gradient-number animate-on-scroll zoom-In">4</h2>
                        <h3>Ответственность и прозрачность</h3>
                    </div>
                    <div class="values-item__text">
                        Соблюдение технических норм, экологических требований и стандартов безопасности — безусловный приоритет. 
                        Мы документируем и сертифицируем каждый этап работ, обеспечивая максимально полную отчётность перед клиентами и контролирующими органами.
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 values-item-wrap">
                <div class="values-item accent-border all">
                    <div class="values-item__title">
                        <h2 class="gradient-number animate-on-scroll zoom-In">5</h2>
                        <h3>Постоянное совершенствование</h3>
                    </div>
                    <div class="values-item__text">
                        Мы инвестируем в передовое оборудование, инновационные технологии и обучение сотрудников. 
                        Это обеспечивает высокий уровень компетенций и позволяет нам сохранять лидерские позиции на рынке сварочных и монтажных услуг.
                    </div>
                </div>
            </div>
        </div>
        <div class="values-bottom-text">
            <h4>Благодаря такому комплексному подходу, Weld Tech Group заслуженно пользуется доверием как крупных промышленных предприятий, так и малых компаний, ищущих надёжного подрядчика. 
                Наша главная цель — воплощать идеи клиентов в эффективные, безопасные и долговечные решения, которые служат примером качества и профессионализма.
            </h4>
            <div class="btn-group-nowrap">
                <span class="arrow arrow-right arrow-dark animate-on-scroll"></span>
                <a href="#our-services" class="simple-button">Наши услуги</a>
                <span class="arrow arrow-left arrow-dark animate-on-scroll"></span>
            </div>
        </div>
    </div>
    
</section>

<section id="quality" class="simple-section quality">
    <div class="container-md container-xxl h-100">
      <div class="row">
        <div class="col-12 col-lg-4 quality-image">
  
          <div class="shadow-image left animate-on-scroll">
            <div class="shadow-image-wrap">
                <img src="./assets/img/IMG_2732.jpg" alt="Quality work">
            </div>
          </div>
  
        </div>
        <div class="col-12 col-lg-8">
          <div class="quality-content">
            <h3 class="simple-section__subtitle subtitle-right">Мы используем только высококачественные<br> материалы и оборудование</h3>
            <p class="accent-border right">
                Мы используем исключительно проверенную металлопродукцию и работаем только с надёжными поставщиками, 
                чьи материалы соответствуют международным стандартам качества и безопасности. 
                В процессе отбора мы учитываем такие параметры, как химический состав, механические характеристики, 
                коррозионная стойкость и сертификация металлопроката. <br><br>
                
                Благодаря строгому контролю на всех этапах — 
                от закупки до входящего контроля на производстве мы можем гарантировать стабильность свойств металлов и сплавов, 
                что напрямую влияет на долговечность и надёжность готовых конструкций.<br><br>

                Для обеспечения высокого качества и надёжности сварочных и монтажных работ наша компания 
                использует современный комплекс оборудования и технологий. Мы постоянно обновляем парк станков и 
                сварочных аппаратов, совершенствуя производственные процессы и гарантируя стабильные результаты даже 
                при выполнении проектов повышенной сложности.

            <div class="quality-buttons">
                <div class="btn-group row justify-content-end">
                    <span class="arrow arrow-right arrow-dark animate-on-scroll"></span>
                    <a href="./projects/our-equipment.html" class="simple-button">Наше оборудование</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="certificates" class="simple-section certificate">
    <div class="container-md container-xxl h-100">
      <div class="simple-section__title light border-bottom">
        <h2>Мы обладаем сертификатами,<br>
          которые имеют значение!</h2>
      </div>
      <div class="row certificate-row">
        <div class="col-12 col-md-6">
          <div class="row flex-column align-items-center">
            <h2 class="certificate-name zoom-In animate-on-scroll">ISO 3834 – 2</h2>
            <h5 class="certificate-text">подтверждает компетентность персонала и качество выполняемых работ.</h5>
            <img src="../src/assets/img/EN-ISO-3834-2.jpg" class="certificate-image open-modal" alt="Preview ISO 3834 – 2" data-type="pdf" data-src="../assets/img/pdf/EN-ISO-3834-2-ENG.pdf">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row flex-column align-items-center">
             <h2 class="certificate-name zoom-In animate-on-scroll">EN 1090-1034</h2>
              <h5 class="certificate-text">подтверждает наличие эффективной системы контроля качества на заводе и соответствие продукции европейским требованиям</h5>
              <img src="../src/assets/img/1090-1034.jpg" class="certificate-image open-modal" alt="Preview 1090-1034" data-type="pdf" data-src="../assets/img/pdf/EN-1090-ENG.pdf">
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('./templates/footer.ejs') %>

</body>
</html>