<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Weld Tech Group</title>
    <%- include('./templates/meta.ejs') %>
    
</head>
<body class="home">
<%- include('./templates/header.ejs') %>

<div class="sticky-menu-wrap">
  <ul class="sticky-menu">
    <li class="sticky-menu__item icon-phone">
      <a href="">
        <svg class="icon">
          <use xlink:href="#phone"></use>
        </svg>
      </a>
    </li>
    <li class="sticky-menu__item icon-mail">
      <a href="">
        <svg class="icon">
          <use xlink:href="#mail"></use>
        </svg>
      </a>
    </li>
    <li class="sticky-menu__item icon-location">
      <a href="">
        <svg class="icon">
          <use xlink:href="#location"></use>
        </svg>
      </a>
    </li>
    <li class="sticky-menu__item icon-whatsapp">
      <a href="">
        <svg class="icon">
          <use xlink:href="#whats-app"></use>
        </svg>
      </a>
      
    </li>
    <li class="sticky-menu__item icon-telegram">
      <a href="">
        <svg class="icon">
          <use xlink:href="#telegram"></use>
        </svg>
      </a>
    </li>
    <li class="sticky-menu__item icon-viber">
      <a href="">
        <svg class="icon">
          <use xlink:href="#viber"></use>
      </svg>
      </a>
    </li>
  </ul>
</div> 


<section id="welcome" class="welcome">

  <div class="welcome-banner">
    <div class="container-md container-xxl">
      <div class="row align-items-center">
        <div class="welcome-heading">
          <h1>Weld Tech Group</h1>
          <h5>прочность, проверенная временем!</h5>
          <h4>Ваш надежный партнер в сфере монтажа 
            технологических трубопроводов и
            производства промышленных 
            металлоконструкций.</h4>
            <div class="welcome-heading__buttons">
              <a href="#" class="accent-button">О компании</a>
              <a href="#" class="accent-button">Связаться с нами</a>
            </div>
        </div>
      </div>
      <div class="welcome-video">
        <iframe src="https://player.vimeo.com/video/997318216?muted=1&autoplay=1&loop=1&background=1&app_id=122963" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>   
  </div>
  
  <div class="welcome-text">
  <div class="container-md container-xxl">
      <div class="row">
        <div class="col-12 col-sm-7">
          <div class="welcome-bottom-text">
            <h3>15+ лет опыта на промышленных объектах.</h3>
            <p class="accent-border left">
              Мы специализируемся на профессиональной сварке и монтаже технологических трубопроводов, 
              производстве оборудования и металлоконструкций для химической, пищевой, фармацевтической и 
              других отраслей промышленности.
            </p>
          </div>
          <span class="arrow arrow-down"></span>
        </div>
      </div>
    </div>
  </div>
  



</section>


<a href="" class="accent-button">Наши услуги</a>

<span class="arrow arrow-left"></span>
<span class="arrow arrow-down"></span>
<span class="arrow arrow-up"></span>
<span class="arrow arrow-right"></span>

<svg class="icon">
    <use xlink:href="#whats-app"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="#location"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="#telegram"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="#phone"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="#mail"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="#viber"></use>
</svg>

<svg class="icon">
    <use xlink:href="#diploma-certificate"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="#welder"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="#quality-certificate"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="#capacitive-equipment"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="#industry-equipment"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="#pipelines"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="#metal-structures"></use>
  </svg>

<%- include('./templates/footer.ejs') %>

</body>
</html>