<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Weld Tech Group</title>
    <%- include('./templates/meta.ejs') %>
    
</head>
<body class="home">
  <%- include('./templates/header.ejs', { isInnerPage: false }) %>

<div id="modal-window" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe id="modal-iframe"></iframe>
    <div class="modal-body" id="modal-html"></div>
  </div>
</div>

<div class="sticky-menu-wrap">
  <ul class="sticky-menu">
    <li class="sticky-menu__item icon-phone">
      <a href="">
        <svg class="icon">
          <use xlink:href="#phone"></use>
        </svg>
      </a>
    </li>
    <li class="sticky-menu__item icon-mail">
      <a href="">
        <svg class="icon">
          <use xlink:href="#mail"></use>
        </svg>
      </a>
    </li>
    <li class="sticky-menu__item icon-location">
      <a href="">
        <svg class="icon">
          <use xlink:href="#location"></use>
        </svg>
      </a>
    </li>
    <li class="sticky-menu__item icon-whatsapp">
      <a href="">
        <svg class="icon">
          <use xlink:href="#whats-app"></use>
        </svg>
      </a>
      
    </li>
    <li class="sticky-menu__item icon-telegram">
      <a href="">
        <svg class="icon">
          <use xlink:href="#telegram"></use>
        </svg>
      </a>
    </li>
    <li class="sticky-menu__item icon-viber">
      <a href="">
        <svg class="icon">
          <use xlink:href="#viber"></use>
      </svg>
      </a>
    </li>
  </ul>
</div>

<section id="welcome" class="welcome">
  <div class="welcome-banner">
    <div class="container-md container-xxl h-100">
      <div class="row align-items-sm-center welcome-heading-wrap">
        <div class="welcome-heading">
          <h1>Weld Tech Group</h1>
          <h5>прочность, проверенная временем!</h5>
          <h4>Ваш надежный партнер в сфере монтажа 
            технологических трубопроводов и
            производства промышленных 
            металлоконструкций.</h4>
            <div class="welcome-heading__buttons">
              <a href="#" class="simple-button">О компании</a>
              <a href="#" class="simple-button">Связаться с нами</a>
            </div>
        </div>
      </div>
      <div class="welcome-video">
        <video width="100%" height="100%" autoplay muted loading="lazy">
          <source src="assets/img/Weld-tech-video.webm" type="video/webm">
          <source src="assets/img/Weld-tech-video.mp4" type="video/mp4">
           Your brawser not supprort videos.
        </video>
      </div>
    </div> 
       
  </div>
  
  <div class="welcome-text-wrap">
  <div class="container-md container-xxl h-100">
      <div class="row align-items-center h-100">
        <div class="col-12 col-sm-8 row align-items-center">
          <div class="welcome-text">
            <h3>15+ лет опыта на промышленных объектах.</h3>
            <p class="accent-border left">
              Мы специализируемся на профессиональной сварке и монтаже технологических трубопроводов, 
              производстве оборудования и металлоконструкций для химической, пищевой, фармацевтической и 
              других отраслей промышленности.
            </p>
            <span class="arrow arrow-down arrow-dark animate-on-scroll"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

<section id="about-us" class="simple-section about-us">
  <div class="container-md container-xxl h-100">
    <div class="row">
      <div class="col-12 col-sm-4 about-us-image">

        <div class="shadow-image left animate-on-scroll">
          <div class="shadow-image-wrap">
              <img src="./assets/img/work-weld-tech.jpg" alt="Work Weld Tech Group">
          </div>
        </div>

      </div>
      <div class="col-12 col-sm-8">
        <div class="about-us-content">
          <p class="accent-border right">
            <b>Наша миссия</b> — обеспечивать надёжные, инновационные и экологически безопасные решения в сфере сварки 
            и металлообработки, способствуя развитию промышленности на локальном и международном рынках. 
            Мы стремимся не просто удовлетворять потребности клиентов, но и превосходить их ожидания за 
            счёт высокого качества работ, применения передовых технологий и непрерывного совершенствования процессов.
          </p>
          <h4>Наша команда опытных специалистов реализует проекты в Польше, Литве, Германии и других странах Евросоюза.</h4>
          <div class="about-us-buttons row align-items-center justify-content-end">
            <span class="arrow arrow-right arrow-dark animate-on-scroll"></span>
            <a href="#" class="simple-button">Наши услуги</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features" class="features simple-section accent-bg">
  <div class="container-md container-xxl h-100">
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="features-item">
          <svg class="icon icon-quality">
            <use xlink:href="#quality-certificate"></use>
          </svg>
          <h5>Мы гарантируем высококачественную работу сделанную в установленные сроки.</h5>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="features-item">
          <svg class="icon">
            <use xlink:href="#welder"></use>
          </svg>
          <h5>Мы применяем инновационные технологии сварки для оптимального сочетания качества, скорости и стоимости.</h5>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="features-item">
          <svg class="icon">
            <use xlink:href="#diploma-certificate"></use>
          </svg>
          <h5>Мы используем сертифицированное и только качественное оборудование и материалы. </h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="stuff" class="simple-section stuff">
  <div class="container-md container-xxl h-100">
    <div class="row">
      <div class="col-12 col-sm-8 stuff-content">
        <div class="stuff-content__heading">
          <h3>Более</h3>
          <div class="stuff-content__heading-row">
            <h2 class="gradient-number animate-on-scroll zoom-In">50</h2>
            <h4>высококвалифицированных сотрудников с многолетним опытом сварки композиционных материалов и других материалов, 
            имеющих сложные характеристики свариваемости.</h4>
          </div>
          
        </div>
        <div class="stuff-content__text">
          <p class="accent-border left">
            Наша команда — это высококвалифицированные сварщики и конструкторы, которые регулярно проходят обучение и осваивают современные 
            технологии, документируют и сертифицируют каждый этап работ. Ключевую роль в компании играют сварщики, способные выполнять 
            сварку «под зеркало» (mirror welding), а также сварку труб из нержавеющей стали, различных сплавов и конструкций. 
            Они безупречно справляются с работами на материалах от углеродистой и легированной стали (включая карбиды) до трудносвариваемых 
            металлов, обеспечивая высокое качество стыков и монтажных соединений.
        </p>
        </div>
        
      </div>
      <div class="col-12 col-sm-4">
        <div class="shadow-image right animate-on-scroll">
          <div class="shadow-image-wrap">
              <img src="./assets/img/welder.jpg" alt="Welder">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="simple-section services">
  <div class="container-md container-xxl h-100">
    <div class="simple-section__heading light">
      <h2>Какие услуги мы предоставляем?!</h2>
      <p class="accent-border all">
        Пользуясь много летним опытом , мы научились находить решение для любых задач, 
        не пренебрегая качеством и сроками выполнения.</p>
    </div>

    <div class="row services-item-row">
      <div class="col-12 col-sm-6 services-item-wrap">
        <div class="services-item">
          <div class="services-item__heading">
            <div class="services-item__heading-img">
              <svg class="icon">
                <use xlink:href="#pipelines"></use>
              </svg>
            </div>
            <div class="services-item__heading-text">
              <h3>Монтаж технологических трубопроводов</h3>
            </div>
          </div>
          <div class="services-item__description">
            <p>Мы профессионально занимаемся монтажом и сваркой технологических трубопроводов из 
              нержавеющей стали (AISI-304L, AISI-308L, AISI-316L, AISI-321), углеродистых сталей (Ст.20, 30),
              а также из титана и алюминия.</p>
          </div>
          <div class="services-item__btn">
              <a href="" class="accent-button">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 services-item-wrap">
        <div class="services-item">
          <div class="services-item__heading">
            <div class="services-item__heading-img">
              <svg class="icon icon-equipment">
                <use xlink:href="#industry-equipment"></use>
              </svg>
            </div>
            <div class="services-item__heading-text">
              <h3>Оборудование 
                для промышленности</h3>
            </div>
          </div>
          <div class="services-item__description">
            <p>
              Мы изготавливаем дополнительное оборудование для различных производственных линий и систем, 
              применяемых в химической, пищевой, фармацевтической и смежных отраслях.
            </p>
          </div>
          <div class="services-item__btn">
            <a href="" class="accent-button">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 services-item-wrap">
        <div class="services-item">
          <div class="services-item__heading">
            <div class="services-item__heading-img">
              <svg class="icon">
                <use xlink:href="#capacitive-equipment"></use>
              </svg>
            </div>
            <div class="services-item__heading-text">
              <h3>Производство ёмкостного 
                оборудования</h3>
            </div>
          </div>
          <div class="services-item__description">
            <p>
              Мы профессионально занимаемся монтажом и сваркой технологических трубопроводов из нержавеющей стали 
              (AISI-304L, AISI-308L, AISI-316L, AISI-321), углеродистых сталей (Ст.20, 30), а также из титана и алюминия.
            </p>
          </div>
          <div class="services-item__btn">
            <a href="" class="accent-button">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 services-item-wrap">
        <div class="services-item">
          <div class="services-item__heading">
            <div class="services-item__heading-img">
              <svg class="icon">
                <use xlink:href="#metal-structures"></use>
              </svg>          
            </div>
            <div class="services-item__heading-text">
              <h3>Металлоконструкции и 
                площадки обслуживания</h3>
            </div>
          </div>
          <div class="services-item__description">
            <p>
              Мы производим и монтируем металлические конструкции различной сложности, включая фермы, лестницы, 
              поручни, каркасы для монтажа шкафов управления и многое другое. Все изделия соответствуют нормам прочности и безопасности.
            </p>
          </div>
          <div class="services-item__btn">
            <a href="" class="accent-button">Подробнее</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services-bottom-info">
      <h4>Свяжитесь с нами прямо сейчас и наши специалисты оперативно ответят на ваши вопросы, 
        уточнят детали проекта и подготовят индивидуальное коммерческое предложение.  </h4>
        <div class="btn-group group-center">
          <span class="arrow arrow-right arrow-light animate-on-scroll"></span>
          <a href="" class="simple-button">Контакты</a>
          <span class="arrow arrow-left arrow-light animate-on-scroll"></span>
        </div>
    </div>
  </div>
</section>

<section class="home-slider">
  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
         <li class="splide__slide"><img src="assets/img/main slider/metal-constructions-1.jpg" alt=""></li>
         <li class="splide__slide"><img src="assets/img/main slider/huge-pipelines.jpg" alt=""></li>
         <li class="splide__slide"><img src="assets/img/main slider/IMG_1414.jpg" alt=""></li>
         <li class="splide__slide"><img src="assets/img/main slider/IMG_1415.jpg" alt=""></li>
         <li class="splide__slide"><img src="assets/img/main slider/IMG_1504.jpg" alt=""></li>
         <li class="splide__slide"><img src="assets/img/main slider/IMG_1696.jpg" alt=""></li>
         <li class="splide__slide"><img src="assets/img/main slider/IMG_2073.jpg" alt=""></li>
         <li class="splide__slide"><img src="assets/img/main slider/IMG_2077.jpg" alt=""></li>
         <li class="splide__slide"><img src="assets/img/main slider/IMG_2078.jpg" alt=""></li>
         <li class="splide__slide"><img src="assets/img/main slider/IMG_2080.jpg" alt=""></li>
         <li class="splide__slide"><img src="assets/img/main slider/IMG_2200.jpg" alt=""></li>
         <li class="splide__slide"><img src="assets/img/main slider/photo_2023-09-19_21-25-44.jpg" alt=""></li>
      </ul>
    </div>
  </div>

  <div class="container-md container-xxl h-100">
    <div class="home-slider-content">
    <h4><span>Каждый наш проект</span> — это точность, надежность и внимание к деталям. <br>
      Ознакомьтесь с нашими выполненными работами в галерее!</h4>
      <div class="btn-group">
        <a href="" class="simple-button">Галлерея проектов</a>
        <span class="arrow arrow-left arrow-dark animate-on-scroll"></span>
      </div>
    </div>
  </div>
</section>

<section id="work-stages" class="simple-section work-stages">
  <div class="container-md container-xxl h-100">

    <div class="simple-section__heading dark">
      <h2>Как мы работаем над проектами?!</h2>
      <p class="accent-border all">
        Наш подход к работе строится на тщательной подготовке, 
        строгом соблюдении технических регламентов и тесном взаимодействии с заказчиками на каждом этапе.</p>
    </div>

    <div class="row work-stages-row">
      <div class="col-12 col-sm-6 offset-sm-0 work-stages-item item-1">
        <div class="work-stages-item__wrap">
          <h4 class="work-stages-item__title">Консультация</h4>
          <p class="work-stages-item__description">На первой консультации мы уточняем основные требования и специфику проекта, отвечаем на вопросы клиента и обсуждаем дальнейший 
            план работы.</p>
            <div class="stage-circle zoom-In animate-on-scroll">1</div>
        </div>
      </div>

      <div class="col-12 col-sm-6 offset-sm-6 work-stages-item item-2">
        <div class="work-stages-item__wrap">
          <h4 class="work-stages-item__title">Анализ и планирование</h4>
          <p class="work-stages-item__description">Определяем технические параметры, сроки и бюджет учитывая нюансы отрасли и местные нормативы.</p>
          <div class="stage-circle zoom-In animate-on-scroll">2</div>
        </div>
      </div>

      <div class="col-12 col-sm-6 offset-sm-0 work-stages-item item-3">
        <div class="work-stages-item__wrap">
          <h4 class="work-stages-item__title">Проектирование</h4>
          <p class="work-stages-item__description">Создаём детализированные чертежи и 3D-модели, согласовываем спецификации и график поставок материалов.</p>
          <div class="stage-circle zoom-In animate-on-scroll">3</div>
        </div>
      </div>

      <div class="col-12 col-sm-6 offset-sm-6 work-stages-item item-4">
        <div class="work-stages-item__wrap">
          <h4 class="work-stages-item__title">Производство и сварочные работы</h4>
          <p class="work-stages-item__description">Мы используем современные технологии  (WIG–TIG, MIG–MAG, орбитальная сварка и др.) и сертифицированные материалы.</p>
          <div class="stage-circle zoom-In animate-on-scroll">4</div>
        </div>
      </div>

      <div class="col-12 col-sm-6 offset-sm-0 work-stages-item item-5">
        <div class="work-stages-item__wrap">
          <h4 class="work-stages-item__title">Монтаж и проверка</h4>
          <p class="work-stages-item__description">Опытные бригады выезжают на объект выполняют установку и пуско-наладку. Проводим тестирование на герметичность, 
          прочность и соответствие техническим требованиям.</p>
          <div class="stage-circle zoom-In animate-on-scroll">5</div>
        </div>
      </div>

      <div class="col-12 col-sm-6 offset-sm-6 work-stages-item item-6">
        <div class="work-stages-item__wrap">
          <h4 class="work-stages-item__title">Сдача объекта и сопровождение</h4>
          <p class="work-stages-item__description">Оформляем необходимую документацию (сертификаты, акты приёмки), даём гарантии и при необходимости обеспечиваем сервисное обслуживание.</p>
          <div class="stage-circle zoom-In animate-on-scroll">6</div>
        </div>
      </div>
      <span class="stage-line"></span>
    </div>
    <div class="btn-group group-center">
      <a href="" class="simple-button">Подробнее о проектах</a>
      <span class="arrow arrow-left arrow-dark animate-on-scroll"></span>
      <span class="arrow arrow-right arrow-dark animate-on-scroll"></span>
      <a href="" class="simple-button">Галлерея проектов</a>
    </div>
  </div>
</section>

<section id="sertificates" class="simple-section sertificate">
  <div class="container-md container-xxl h-100">
    <div class="simple-section__heading light border-bottom">
      <h2>Мы обладаем сертификатами,<br>
        которые имеют значение!</h2>
    </div>
    <div class="row sertificate-row">
      <div class="col-12 col-sm-6 row flex-column align-items-center">
        <h2 class="sertificate-name zoom-In animate-on-scroll">ISO 3834 – 2</h2>
        <h5 class="sertificate-text">подтверждает компетентность персонала и качество выполняемых работ.</h5>
        <img src="../src/assets/img/EN-ISO-3834-2.jpg" class="sertificate-image open-modal" alt="Preview ISO 3834 – 2" data-type="pdf" data-src="../assets/img/pdf/EN-ISO-3834-2-ENG.pdf">
      </div>
      <div class="col-12 col-sm-6 row flex-column align-items-center">
        <h2 class="sertificate-name zoom-In animate-on-scroll">EN 1090-1034</h2>
        <h5 class="sertificate-text">подтверждает наличие эффективной системы контроля качества на заводе и соответствие продукции европейским требованиям</h5>
        <img src="../src/assets/img/1090-1034.jpg" class="sertificate-image open-modal" alt="Preview 1090-1034" data-type="pdf" data-src="../assets/img/pdf/EN-1090-ENG.pdf">
      </div>
    </div>
  </div>
</section>

<%- include('./templates/footer.ejs') %>

</body>
</html>