<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Weld Tech Group</title>
    <%- include('./templates/meta.ejs') %>
    
</head>
<body>
<%- include('./templates/header.ejs', { isInnerPage: false }) %>

<section class="simple-section services-page">
    <div class="container-md container-xxl h-100">
        <div class="simple-section__title dark border-bottom">
          <h2>Наши услуги</h2>
        </div>
        <div class="row about-us-page-row">
            <div class="col-12 col-lg-8">
                <div class="about-us-page__text">
                    <h3 class="simple-section__subtitle subtitle-left">Многолетний опыт сварки сложных материалов</h3>
                    <div class="accent-border left">
                        <p>
                            Наша команда включает более <b>50 высококвалифицированных сотруднико</b>в с многолетним опытом сварки композиционных материалов и других материалов, имеющих сложные характеристики свариваемости. 
                            Мы обладаем всеми необходимыми сертификатами, подтверждающими компетентность и качество выполняемых работ.
                        </p>
                        <h4 class="simple-section__subtitle">Предлагаемые способы сварки:</h4>
                        <ul class="simple-list">
                            <li>TIG-сварка</li>
                            <li>Сварка MIG–MAG</li>
                            <li>TIG-электродная сварка</li>
                            <li>Электродная сварка</li>
                            <li>Сварка кислородно-ацетиленовой горелкой</li>
                            <li>Мягкая пайка</li>
                            <li>Пайка</li>
                            <li>Строжка</li>
                            <li>Плазменная резка</li>
                            <li>Плазменно-дуговая резка</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="shadow-image left animate-on-scroll">
                    <div class="shadow-image-wrap">
                        <img src="./assets/img/IMG_1129.jpg" alt="Quality work">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="simple-section services">
    <div class="container-md container-xxl h-100">
      <div class="row services-item-row">
        <div class="col-12 col-md-6 services-item-wrap">
          <div class="services-item">
            <div class="services-item__heading">
              <div class="services-item__heading-img">
                <svg class="icon">
                  <use xlink:href="#pipelines"></use>
                </svg>
              </div>
              <div class="services-item__heading-text">
                <h3>Монтаж технологических<br> трубопроводов</h3>
              </div>
            </div>
            <div class="services-item__description">
              <p>Мы профессионально занимаемся монтажом и сваркой технологических трубопроводов из 
                нержавеющей стали (AISI-304L, AISI-308L, AISI-316L, AISI-321), углеродистых сталей (Ст.20, 30),
                а также из титана и алюминия.</p>
            </div>
            <div class="services-item__btn">
                <a href="./services/installation-of-process-pipelines.html" class="accent-button">Подробнее</a>
            </div>
          </div>
        </div>
  
  
        <div class="col-12 col-md-6 services-item-wrap">
          <div class="services-item">
            <div class="services-item__heading">
              <div class="services-item__heading-img">
                <svg class="icon icon-equipment">
                  <use xlink:href="#industry-equipment"></use>
                </svg>
              </div>
              <div class="services-item__heading-text">
                <h3>Оборудование<br>
                  для промышленности</h3>
              </div>
            </div>
            <div class="services-item__description">
              <p>
                Мы изготавливаем дополнительное оборудование для различных производственных линий и систем, 
                применяемых в химической, пищевой, фармацевтической и смежных отраслях.
              </p>
            </div>
            <div class="services-item__btn">
              <a href="./services/equipment-for-industry.html" class="accent-button">Подробнее</a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 services-item-wrap">
          <div class="services-item">
            <div class="services-item__heading">
              <div class="services-item__heading-img">
                <svg class="icon">
                  <use xlink:href="#capacitive-equipment"></use>
                </svg>
              </div>
              <div class="services-item__heading-text">
                <h3>Производство<br> ёмкостного 
                  оборудования</h3>
              </div>
            </div>
            <div class="services-item__description">
              <p>
                Мы профессионально занимаемся монтажом и сваркой технологических трубопроводов из нержавеющей стали 
                (AISI-304L, AISI-308L, AISI-316L, AISI-321), углеродистых сталей (Ст.20, 30), а также из титана и алюминия.
              </p>
            </div>
            <div class="services-item__btn">
              <a href="./services/production-of-capacitive-equipment.html" class="accent-button">Подробнее</a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 services-item-wrap">
          <div class="services-item">
            <div class="services-item__heading">
              <div class="services-item__heading-img">
                <svg class="icon">
                  <use xlink:href="#metal-structures"></use>
                </svg>          
              </div>
              <div class="services-item__heading-text">
                <h3>Металлоконструкции и <br>
                  площадки обслуживания</h3>
              </div>
            </div>
            <div class="services-item__description">
              <p>
                Мы производим и монтируем металлические конструкции различной сложности, включая фермы, лестницы, 
                поручни, каркасы для монтажа шкафов управления и многое другое. Все изделия соответствуют нормам прочности и безопасности.
              </p>
            </div>
            <div class="services-item__btn">
              <a href="./services/production-of-capacitive-equipment.html" class="accent-button">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="services-bottom-info">
        <h4>Свяжитесь с нами прямо сейчас и наши специалисты оперативно ответят на ваши вопросы, 
          уточнят детали проекта и подготовят индивидуальное коммерческое предложение.  </h4>
          <div class="btn-group group-center">
            <div class="btn-group-nowrap">
              <span class="arrow arrow-right arrow-light animate-on-scroll"></span>
              <a href="#contacts" class="simple-button">Контакты</a>
              <span class="arrow arrow-left arrow-light animate-on-scroll"></span>
            </div>
          </div>
      </div>
    </div>
  </section>
<%- include('./templates/footer.ejs') %>

</body>
</html>