@use 'abstracts/abstracts' as abs;
@use 'components/components';
@use 'layout/layout';

html {
    scroll-behavior: smooth;
  }

body {
font-family: abs.$OpenSans-Light;
font-size: abs.$text-size-mobile;
color: abs.$dark-color;
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
background-color: abs.$base-color;
@include abs.desktop {
    font-size: abs.$text-size-desktop;
}
@include abs.desktop-xxl {
    font-size: abs.$text-size-xxl-desktop;
}
}

*, ::after, ::before {
box-sizing: border-box;
}
.row>* {
  padding-left: 15px;
  padding-right: 15px;
}
.container-md {
  @include abs.only-desktop-sm {
    max-width: 940px;

  }
}

a {
    text-decoration: none;
    font-size: abs.$text-size-mobile;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      text-decoration: none;
    }
    @include abs.desktop {
      font-size: abs.$text-size-desktop;
    }
    @include abs.desktop-xxl {
      font-size: abs.$text-size-xxl-desktop;
    }
  }
  
  h1 {
    font-family: abs.$AlumniSans-Black;
    font-size: abs.$h1-size-mobile;
    @include abs.desktop {
      font-size: abs.$h1-size-desktop;
    }
    @include abs.desktop-xxl {
      font-size: abs.$h1-size-xxl-desktop;
    }
  }
  
  h2 {
    font-family: abs.$AlumniSans-ExtraBold;
    font-size: abs.$h2-size-mobile;
    @include abs.desktop {
      font-size: abs.$h2-size-desktop;
    }
    @include abs.desktop-xxl {
      font-size: abs.$h2-size-xxl-desktop;
    }
  }

  h3 {
    font-family: abs.$AlumniSans-SemiBold;
    font-size: abs.$h3-size-mobile;
    @include abs.desktop {
      font-size: abs.$h3-size-desktop;
    }
    @include abs.desktop-xxl {
      font-size: abs.$h3-size-xxl-desktop;
    }
  }
  
  h4 {
    font-size: abs.$h4-size-mobile;
    @include abs.desktop {
      font-size: abs.$h4-size-desktop;
    }
    @include abs.desktop-xxl {
      font-size: abs.$h4-size-xxl-desktop;
    }
  }

  h5 {
    font-size: abs.$h5-size-mobile;
    @include abs.desktop {
      font-size: abs.$h5-size-desktop;
    }
    @include abs.desktop-xxl {
      font-size: abs.$h5-size-xxl-desktop;
    }
  }
  h6 {
    font-size: abs.$h6-size-mobile;
    @include abs.desktop {
      font-size: abs.$h6-size-desktop;
    }
    @include abs.desktop-xxl {
      font-size: abs.$h6-size-xxl-desktop;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
  }
  
  h4, h5, h6 {
    font-family: abs.$AlumniSans-Medium;
  }

  b {
    font-family: abs.$OpenSans-Regular;
  }

  a,p,b {
    line-height: 1.5em;
  }

  textarea {
    resize: none;
  }

  .h-100 {
    height: 100%;
  }
  .no-wrap {
    white-space: nowrap;
  }

  .main-container {
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
    @include abs.desktop-xl {
      padding: 0 20px;
    }
  }

  .accent-text-block {
    border-bottom: 3px solid abs.$accent-color;
    padding-bottom: 20px;
    padding-top: 20px;
    border-image-source: linear-gradient(abs.$second-accent-color 25%, abs.$accent-color 75%);
    border-image-slice: 1;
    border-width: 3px;
    @include abs.desktop-xl {
      padding-bottom: 30px;
      padding-top: 30px;
    }
    &.left {
      border-left: 3px solid;  
      padding-left: 15px;
      @include abs.desktop {
        padding-left: 30px;
      }
    }
    &.right {
      border-right: 3px solid;
      padding-right: 15px;
      @include abs.desktop {
        padding-right: 30px;
      }
    }
    &.all {
      border: 4px solid abs.$accent-color;
      border-image-source: linear-gradient(45deg, rgba(213,171,2,0.5), rgba(144,48,49,0.5));
      border-image-slice: 1;
      padding: 15px;
      @include abs.desktop {
        border-width: 5px;
      }
    }
  }
  .gradient-border {
    border-image-slice: 1;
    border-color: abs.$accent-color;
    &.left,
    &.right {
      border-image-source: linear-gradient(abs.$second-accent-color 25%, abs.$accent-color 75%);
    }
    &.bottom,
    &.top {
      border-image-source: linear-gradient(90deg, abs.$second-accent-color 25%, abs.$accent-color 75%);
    }
    &.left {
      border-left: 2px solid;
    }
    &.right {
      border-right: 2px solid;
    }
    &.bottom {
      border-bottom: 2px solid;
    }
    &.top {
      border-top: 2px solid;
    }
    &.left,
    &.right,
    &.bottom,
    &.top {
      @include abs.desktop {
        border-width: 3px;
      }
    }

  }

  .accent-bg {
    background: linear-gradient( #D5AB02 0%, #BB2A2B 48.28%, #612122 74.49%);
    color: abs.$base-color;
    @include abs.desktop {
      background: linear-gradient(90deg, #D5AB02 0%, #BB2A2B 48.28%, #612122 74.49%);
    }
  }
  .simple-section,
  .block-padding {
    padding: 60px 0;
    @include abs.desktop {
      padding: 80px 0;
    }
  }

  .simple-section {
    &__title {
      text-align: center;
      h2 {
        margin: 0 auto 15px;
        line-height: 1;
        max-width: abs.$max-width;
        @include abs.desktop {
          margin: 0 auto 30px;
        }
      }
      &.light {
        color: abs.$base-color;
        text-shadow: abs.$shadow-white-text;
      }
      &.dark {
        h2 {
          color: abs.$second-dark-color;
        }
      }
      p {
        max-width: abs.$max-width;
        margin: 0 auto;
      }
      &.border-bottom {
        h2 {
          display: inline-block;
          padding-bottom: 10px;
          border-bottom: 5px solid rgba(213, 171, 2, 0.5);
        }
      }
    }
    &__subtitle {
      color: abs.$second-dark-color;

    }
  }


  .gradient-number {
    background: linear-gradient(abs.$accent-color, abs.$second-accent-color 57%, abs.$dark-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0),0 0 0 rgba(81, 8, 3, 0.25);
    font-family: abs.$AlumniSans-Black;
}

.quality {
  &-content {
    text-align: right;
  }
  &-buttons {
    margin-top: 50px;
    text-align: right;
  }
}

.subtitle-left {
  margin-left: -5px;
  @include abs.desktop {
      margin-left: -20px;
  }
}
.subtitle-right {
  margin-right: -5px;
  @include abs.desktop {
      margin-right: -20px;
  }
}

.light-image-bg {
  background: url(../assets/img/light-bg-img-1.webp) center no-repeat;
    background-size: cover;
}
.dark-image-bg {
  background: url(../assets/img/services-bg.webp) center no-repeat;
    background-size: cover;
}

.know-more {
  border-top: 10px solid abs.$accent-color;
  border-bottom: 10px solid abs.$accent-color;
  border-image-source: linear-gradient(90deg, rgba(187, 42, 43, 0.7) 25%, rgba(213, 171, 2, 0.7) 75%);
  border-image-slice: 1;
  @include abs.desktop {
    border-width: 20px;
  }
  &-text {
    color: abs.$base-color;
    text-align: center;
  }
}

.lazy-image {
  opacity: 0;
  transition: opacity 0.5s ease;
  &.loaded {
    opacity: 1;
  }
}