<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Weld Tech Group</title>
    <%- include('../templates/meta.ejs') %>
    
</head>
<body>
<%- include('../templates/header.ejs' , { isInnerPage: true }) %>

<section class="simple-section">
    <div class="container-md container-xxl h-100">
        <div class="simple-section__title dark">
            <h2>Оборудование</h2>
            <p class="accent-text-block all">
                Мы обеспечиваем высокое качество и надёжность работ благодаря современному оборудованию и передовым технологиям.</p>
        </div>
        <div class="tabs tabs-gallery our-equipment-tabs">
            <div class="tabs-btn-wrap">
                <button class="tabs-btn tabs-accent-btn active" data-tab="tab1">Сварочное<br> оборудование</button>
                <button class="tabs-btn tabs-accent-btn" data-tab="tab2">Станочное и заготовительное оборудование</button>
                <button class="tabs-btn tabs-accent-btn" data-tab="tab3">Оборудование для подготовки и обработки швов</button>
                <button class="tabs-btn tabs-accent-btn" data-tab="tab4">Контроль качества и испытания</button>
                <button class="tabs-btn tabs-accent-btn" data-tab="tab5">Подъемно-транспортные механизмы</button>
            </div>
            <div class="tabs-content tabs-accent-content active" id="tab1">
                <h3>Сварочное оборудование</h3>
                <ul class="accent-list">
                    <li>
                        <div>
                            <h4>Аргонодуговые аппараты (WIG–TIG)</h4>
                            <p>Позволяют получать высококачественные швы при работе с нержавеющей сталью, титановыми сплавами и другими материалами, требующими точной и аккуратной сварки.</p>
                            <ul class="simple-list">
                                <li>
                                    <p><b>Ручные WIG–TIG-машины </b> — для сварки труб, тонколистовых металлов и изделий сложной формы. </p> 
                                </li>
                                <li>
                                    <p><b>Орбитальная сварка</b> — автоматизированное оборудование для сварки труб с диаметром от 6 до 115 мм и толщиной стенки до 3 мм, обеспечивающее высокую производительность и повторяемость результатов.</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>MIG–MAG аппараты</h4>
                            <p>Высокопроизводительные машины для сварки углеродистых и легированных сталей, а также алюминиевых сплавов. Обеспечивают устойчивую дугу и равномерное проплавление, что особенно важно при работе с более толстыми стенками.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>MMA (Stick Welding)</h4>
                            <p>Традиционная технология электродуговой сварки, которая востребована при монтаже металлоконструкций большого сечения, а также в условиях, когда требуется мобильность или работа на открытых площадках.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>Оборудование для сварки кислородно-ацетиленовой горелкой и пайки</h4>
                            <p>Используется для специфических задач, например, пайки цветных металлов или мелкосерийных сварочных работ, требующих особой точности и аккуратного температурного режима.</p>
                        </div>
                    </li>
                </ul>  
            </div>
            <div class="tabs-content tabs-accent-content" id="tab2">
                <h3>Станочное и заготовительное оборудование</h3>
                <ul class="accent-list">
                    <li>
                        <div>
                            <h4>CNC-станки для резки металла</h4>
                            <p>(лазерная, плазменная или водоструйная — в зависимости от необходимости)<br>
                                Позволяют получать точные заготовки с минимальными погрешностями, что особенно важно при производстве сложных металлоконструкций и узлов для технологических трубопроводов.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>Токарно-фрезерные станки</h4>
                            <p>(включая CNC-модели)<br>
                                Обеспечивают высокую точность обработки деталей, фланцев, фитингов и прочих элементов трубопроводных систем. Современные станки сокращают время производственного цикла и обеспечивают стабильное качество деталей на больших сериях.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>Листогибы и вальцы</h4>
                            <p>Используются для гибки листового металла и формирования цилиндрических или конических заготовок, применяемых в конструкциях резервуаров и корпусных деталей.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>Сверлильные и раскройные машины</h4>
                            <p>Помогают экономить время и обеспечивать высокую повторяемость отверстий и вырезов в трубах, листовом металле и конструкционных профилях.</p>
                        </div>
                    </li>
                </ul>  
            </div>
            <div class="tabs-content tabs-accent-content" id="tab3">
                <h3> Оборудование для подготовки и обработки швов</h3>
                <ul class="accent-list">
                    <li>
                        <div>
                            <h4>Машины для шлифовки и полировки</h4>
                            <p>Позволяют доводить сварные швы и поверхности металла до нужной степени чистоты и гладкости, что особенно актуально для пищевой и фармацевтической отраслей, где важна гигиеничность.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>Системы для травления и пассивации</h4>
                            <p>Применяются при работе с нержавеющими сталями, где требуется восстановление коррозионной стойкости после сварки и финишной обработки.</p>
                        </div>
                    </li>
                </ul> 
            </div>
            <div class="tabs-content tabs-accent-content" id="tab4">
                <h3>Контроль качества и испытания</h3>
                <ul class="accent-list">
                    <li>
                        <div>
                            <h4>Аппараты неразрушающего контроля (NDT)</h4>
                            <ul class="simple-list">
                                <li>
                                    <p><b>Ультразвуковые дефектоскопы</b></p> 
                                </li>
                                <li>
                                    <p><b>Рентгенографические системы для контроля сварных швов</b></p>
                                </li>
                                <li>
                                    <p><b>Капиллярная дефектоскопия (Penetrant Testing)</b></p>
                                </li>
                                <li>
                                    <p><b>Магнитопорошковый контроль (Magnetic Particle Inspection)</b> </p>
                                </li>
                            </ul>
                            <br>

                            <p>Все эти методы помогают своевременно выявлять внутренние и поверхностные дефекты, повышая безопасность и надёжность конструкций.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>Приборы для измерения геометрии и линейных размеров</h4>
                            <p>Цифровые штангенциркули, лазерные дальномеры, высокоточные калибры позволяют проверять соответствие деталей чертежам и допускам.                                </p>
                        </div>
                    </li>
                </ul>  
            </div>
            <div class="tabs-content tabs-accent-content" id="tab5">
                <h3>Подъемно-транспортные механизмы</h3>
                <ul class="accent-list">
                    <li>
                        <div>
                            <h4>Краны и тельферы</h4>
                            <p>Используются для перемещения тяжёлых листовых материалов, труб и готовых металлоконструкций внутри цеха.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>Автонаваджеты (погрузчики)</h4>
                            <p>Обеспечивают оперативную логистику на производстве, упрощая хранение и транспортировку изделий.</p>
                        </div>
                    </li>
                </ul>  
            </div>

        </div>
    </div>
</section>

<section class="simple-section know-more our-equipment dark-image-bg accent-section-borders">
    <div class="container-md container-xxl h-100">
        <div class="simple-section__title light border-bottom">
            <h2>Почему это важно?</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="know-more-item">
                    <svg class="icon">
                        <use xlink:href="#caliper"></use>
                      </svg>
                    <h4>Гарантия высокой<br> точности и качества</h4>
                    <p>Использование современных станков с ЧПУ и сертифицированных сварочных аппаратов сводит к минимуму возможность ошибок, что гарантирует высокое качество конечного продукта.</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="know-more-item">
                    <svg class="icon">
                        <use xlink:href="#rocket"></use>
                      </svg>
                    <h4>Высокая скорость работ и <br> эффективность</h4>
                    <p>Благодаря автоматизации процессов, компания Weld Tech Group может оперативно выполнять заказы, сохраняя стабильное качество и выдерживая сжатые сроки монтажа и производства.</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="know-more-item">
                    <svg class="icon">
                        <use xlink:href="#road"></use>
                      </svg>
                    <h4>Максимальная <br>гибкость и универсальность</h4>
                    <p>Широкий парк оборудования позволяет нам работать с разными металлами и сплавами, в том числе с трудносвариваемыми материалами (титан, алюминий, высоколегированные стали).</p> 
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="know-more-item">
                    <svg class="icon">
                        <use xlink:href="#process"></use>
                      </svg>
                    <h4>Предоставление <br>полного цикла работ</h4>
                    <p>Наличие собственной заготовительной и сварочно-монтажной базы даёт возможность комплексно решать производственные задачи: от резки и гибки металла до финальной сборки и испытаний.</p>
                </div>
            </div>
            
        </div>
    </div>
</section>



<%- include('../templates/footer.ejs') %>

</body>
</html>