<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Weld Tech Group</title>
    <%- include('../templates/meta.ejs') %>
    
</head>
<body>
    <%- include('../templates/header.ejs' , { isInnerPage: true }) %>

<%- include('../templates/footer.ejs') %>

</body>
</html>